{% extends 'client_web/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Nous contacter</h1>
    </div>
    <div class="row">
        <div class=" col-md-6">
            <div class="card">
                <div class="card-header">
                    <div style="display:flex; align-items:center;justify-content:space-between">
                        <h5 class="card-title mb-0"><i class="align-middl" style="margin-right:10px" data-feather="phone"></i><span>Téléphone</span></h5>
                        <p style="margin-bottom:0; font-weight:bold">+1 581 777 1486</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="card">
                <div class="card-header">
                    <div style="display:flex; align-items:center;justify-content:space-between">
                        <h5 class="card-title mb-0"><i class="align-middl" style="margin-right:10px" data-feather="mail"></i><span>E-mail</span></h5>
                        <p style="margin-bottom:0; font-weight:bold">contact@quickdep.ca</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="card">
                <div class="card-header">
                    <div style="display:flex; align-items:center;justify-content:space-between">
                        <h5 class="card-title mb-0"><i class="align-middl" style="margin-right:10px" data-feather="map-pin"></i><span>Adresse</span></h5>
                        <p style="margin-bottom:0; font-weight:bold">202-2955 avenue maricourt, Quebec, QC</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
