{% extends 'client_web/base.html.twig' %}

{% block title %}Contrats publiés{% endblock %}

{% 
    set months = [
        'Janvier',
        'Février',
        'Mars',
        'Avril',
        'Mai',
        'Juin',
        'Juillet',
        'Août',
        'Septembre',
        'Octobre',
        'Novembre',
        'Decembre',
    ]   
 %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Contrats Publiés</h1>
{% if app.session.get('user').client.validated == true and app.session.get('user').signed == true and app.session.get('user').phoneVerified == true  and app.session.get('user').emailVerified == true  %}
    <a href="{{ (app.session.get('user').client.validated == true and app.session.get('user').signed == true) ? path('app_client_web_new_shift'): '#' }}" class="btn btn-primary"><i class="align-middle" data-feather="plus"></i> Publier un nouveau contrat</a>
{% endif %}
</div>
<hr>
<br>
<div class="row">
    <div class="col-12">

    <div class="row">
        {% if contracts|length == 1 %}
            <h3 class="form-label" style="font-size:15px; font-weight:bold">{{ contracts[0] }}</h3>
        {% else %}
            {% for contract in contracts %}
                {% if  contract is iterable %}
                    {% 
                        set month = contract[0]|split(' ')
                    %}
                    <h3 class="form-label" style="font-size:15px; font-weight:bold">{{ months[month[0] - 1] ~ ' ' ~ month[1]}}</h3>
                    <br>
                    <br>
                {% else %}
                    {{ component('Contract', { contractData: contract, user: app.session.get('user') }) }}
                {% endif %}
            {% endfor %}
        {% endif %}
            
    </div>
</div>
{% endblock %}
