{% extends (type is defined and type == 'admin') ? 'admin/base.html.twig': 'client_web/base.html.twig' %}

{% block title %}{{ edit ? 'Modifier le shift : ' ~ data.code : 'Publier un shift' }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">

    <a href="{{ path((type is defined and type == 'admin') ? 'app_admin_contract' : 'app_client_web_home') }}" class="contract-card-link">
        <div class="card" style="display:inline-block">
        <div class="card-header">
        <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
        </div>
    </div>
    </a>
    <div class="card">
        <div class="card-header">
        <h5 class="card-title mb-0">{{ edit ? 'Modifier le shift : ' ~ data.code: 'Publier un shift' }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(contractForm) }}
                <div class="row">
                    <div class="col-6">

                        {{ form_label(contractForm.job, 'Poste *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(contractForm.job, { 'attr': {'class': 'form-select form-control-lg'} }) }}
                        
                        <br>
                        <label class="form-check">
                            <input id="consecutiveCheck" class="form-check-input" type="checkbox" name="consecutive">
                            <span class="form-check-label">
                                Shifts consécutifs ?
                            </span>
                        </label>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(contractForm.startdate, 'Date et heure du début *', {
                                    'label_attr': {'class': 'form-label'}
                                }) }}<br>
                                {{ form_widget(contractForm.startdate, { 'attr': {'class': 'form-control-lg', 'style': 'width:100%'} }) }}
                            </div>
                            <div class="col-6">
                                {{ form_label(contractForm.enddate, 'Date et heure de la fin *', {
                                    'label_attr': {'class': 'form-label'}
                                }) }}<br>
                                {{ form_widget(contractForm.enddate, { 'attr': {'class': 'form-control-lg', 'style': 'width:100%'} }) }}
                            </div>
                        </div>

                        <br>

                        {{ form_label(contractForm.pause, 'Durée de la pause', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(contractForm.pause, { 'attr': {'class': 'form-select form-control-lg'} }) }}

                        <br>
                        <label class="form-label">Adresse</label>
                        <textarea disabled class="form-control" rows="2">{{ address }}</textarea>    
                        <br>
                        <label class="form-label">Ville</label> 
                        <input disabled type="text" class="form-control form-select" value="{{ town.name }}">
                        <br>
                        <label class="form-check">
                            <input id="diffAdress" {{ edit ? (data.address != address ? 'checked' : '' ) : '' }} class="form-check-input" type="checkbox" value="">
                            <span class="form-check-label">
                                Addresse différente
                            </span>
                        </label>   

                        <div style='display:{{ edit ? (data.address != address ? 'block' : 'none' ) : 'none' }}' id='newAddress'>
                            <br>

                            {{ form_label(contractForm.address, 'Adresse', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(contractForm.address, { 'attr': {'class': 'form-control'} }) }}
                                
                                <br>

                                {{ form_label(contractForm.town, 'Ville', {
                                    'label_attr': {'class': 'form-label'}
                                }) }}
                                {{ form_widget(contractForm.town, { 'attr': {'class': 'form-select form-control-lg'} }) }}
                        </div>
                        
                        <br>

                    </div>
                    <div class="col-6" style="position:relative">
                        <label class="form-check">
                            <input id="clothCheck" {{ edit ? (data.cloth != null ? 'checked' : '' ) : ''}} class="form-check-input" type="checkbox" value="">
                            <span class="form-check-label">
                                Tenue exigée
                            </span>
                        </label>
                        <div style="display:{{ edit ? (data.cloth != null ? 'block' : 'none' ) : 'none'}}" id="clothDiv">
                            <br> 
                            {{ form_widget(contractForm.cloth, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez la tenue exigée'} }) }}
                        </div>
                        <br>

                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            {{ form_widget(contractForm.parking, { 'attr': {'class': 'form-check-input'} }) }}
                            <span class="form-check-label">
                                {{ form_label(contractForm.parking, 'Stationnement', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            </span>
                        </label>

                        <br>

                        {{ form_label(contractForm.description, 'Description', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(contractForm.description,  { 'attr': {'class': 'form-control'} }) }}

                        <br>

                        {{ form_label(contractForm.bonus, 'Bonus', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(contractForm.bonus, { 'attr': {'class': 'form-select form-control-lg'} }) }}

                        <br>

                        <div style="position:absolute; bottom:0; right:0">
                            {{ form_widget(contractForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir " ~ (edit ? "modifier" : "publier") ~ " ce shift ?')"} }) }}
                        </div>
                    </div>
                </div>
            {{ form_end(contractForm) }}
        </div>
    </div>
</div>
{% endblock %}
