{% extends 'client_web/base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Profile</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Details du compte</h5>
                </div>
                <div class="card-body text-center">
                    <img id="img-prev" src="{{ user.imagePath == null ? asset('clientweb/img/logo.png') : asset('users/images/'~user.imagePath) }}" alt="{{ user.client.name }}" class="img-fluid rounded-circle mb-2" width="128" height="128">
                    <h5 class="card-title mb-0">{{ user.client.name }}</h5>
                    <div class="text-muted mb-2">{{ user.client.owner }}</div>

                    <div>
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file" class="btn btn-info small">
                            <i class="align-middle" style="margin-right:10px" data-feather="upload"></i>
                            <span class="align-middle"> Modifier le logo</span>
                        </label>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Apropos de l'entréprise</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="user"></i>{{ user.client.owner }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="mail"></i>{{ user.email }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map-pin"></i>{{ user.client.zipcode ~ ' - ' ~ user.client.address }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="phone"></i>{{ user.client.phone }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map"></i>{{ user.client.town.name }}</li>
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Mode de paiement</h5>
                    <ul class="list-unstyled mb-0">
                    {% if user.client.payment == 1 %}
                        <li class="mb-1"><b>Paiement par chèque</b></li>
                    {% endif %}
                    {% if user.client.payment == 2 %}
                        <li class="mb-1"><b>Paiement direct</b></li>
                    {% endif %}
                        <a href="{{ path('app_client_web_auth_paiement', {'profile': 1}) }}" class="btn btn-primary">Modifier</a>
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Adresse de facturation</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map-pin"></i>{{ user.client.facturezipcode ~ ' - ' ~ user.client.factureaddress }}</li>
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Contrat de facturation</h5>
                    <ul class="list-unstyled mb-0">
                    {% if user.signed %}
                        <a href="{{ asset("contracts/society/pdf/"~user.usercontract.id) }}.pdf" target="_blank" class="btn btn-primary">Télécharger votre contrat</a>
                    {% else %}
                        <a href="{{ path("app_client_web_auth_contract", {'profile': 1}) }}" class="btn btn-primary">Signer le contrat</a>
                    {% endif %}
                    </ul>
                </div>
                <hr class="my-0">
            </div>
        </div>

        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-header">

                    <h5 class="card-title mb-0">Modifier les information générales</h5>
                </div>
                <div class="card-body h-100">
                    {{ form_start(infoForm) }}
                        {{ form_label(infoForm.owner, 'Responsable', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.owner, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>

                        {{ form_label(infoForm.address, 'Adresse de l\'entreprise', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.address, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        
                        {{ form_label(infoForm.zipcode, 'Code postal', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.zipcode, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        
                        {{ form_label(infoForm.town, 'Ville', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.town, { 'attr': {'class': 'form-control form-select'} }) }}
                        
                        <br>
                        
                        {{ form_widget(infoForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer les modification ?')"} }) }}

                    {{ form_end(infoForm) }}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Modifier l'adresse de facturation</h5>
                </div>
                <div class="card-body h-100">
                    {{ form_start(factureForm) }}
                       
                        {{ form_label(factureForm.factureaddress, 'Adresse de facturation', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(factureForm.factureaddress, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        
                        {{ form_label(factureForm.facturezipcode, 'Code postal', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(factureForm.facturezipcode, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        {{ form_widget(factureForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer les modification ?')"} }) }}

                    {{ form_end(factureForm) }}
                </div>
            </div>
            {# <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Modifier le mot de passe</h5>
                </div>
                <div class="card-body h-100">
                    {{ form_start(passForm) }}
                       
                        {{ form_label(passForm.password, 'Mot de passe', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(passForm.password, { 'attr': {'class': 'form-control', 'placeholder': '*******'} }) }}
                        
                        <br>
                        
                        {{ form_label(passForm.password_c, 'Confirmer le mot de passe', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(passForm.password_c, { 'attr': {'class': 'form-control', 'placeholder': '*******'} }) }}
                        
                        <br>
                        {{ form_widget(passForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer les modification ?')"} }) }}

                    {{ form_end(passForm) }}
                </div>
            </div> #}
        </div>
    </div>
{% endblock %}
