{% extends 'auth_base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h1 class="h2">Bienvenue chez <b>QuickDep</b></h1>
    <p class="lead">
        recuperation du mot de passe
    </p>
    
    {% for message in app.flashes('notice') %}
     <div class="alert alert_danger" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
</div>

<div class="card">
    <div class="card-body">
        <div class="m-sm-4">
            <p>Un code a été envoyé par mail à l'adresse {{ reset.email }}. Veuillez le saisir pour continuer</p>
            {{ form_start(codeForm, {'attr': {'class': 'opt-form'}}) }}

                <div style="display:flex;align-items:center;justify-content:center">
                    <input class="otp" name="1" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 >
                    <input class="otp" name="2" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 >
                    <input class="otp" name="3" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 >
                    <input class="otp" name="4" type="text" oninput='digitValidate(this)'onkeyup='tabChange(4)' maxlength=1 >
                    <input class="otp" name="5" type="text" oninput='digitValidate(this)'onkeyup='tabChange(5)' maxlength=1 >
                </div>
                <div class="text-center mt-3">
                    {{ form_widget(codeForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary'} }) }}
                </div>
                <div class="text-center">
                    <a class="btn btn-default mt-2" href="{{ path('app_client_web_home') }}" style="border:1px solid #ccc">Retour à l'accueil</a>
                </div>
           {{ form_end(codeForm) }}
        </div>
    </div>
</div>
{% endblock %}
