{% extends 'auth_base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h1 class="h2">{% if (profile) %}Signer le <b>contrat de facturation</b>{% else %}Bienvenue chez <b>QuickDep</b>{% endif %}</h1>
    <p class="lead">
        Veuillez lire attentivement puis signer le contrat
    </p>
    
    {% for message in app.flashes('notice') %}
     <div class="alert alert_danger" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
    
    {% for message in app.flashes('success') %}
     <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
</div>

<div class="card">
    <div class="card-body">
        <div class="m-sm-4">
            <div class="text-center">
                <p style="font-weight:bold">Contract de facturation</p>
                <ol style="text-align: left;">
                    <li>J’offre mes services à la Compagnie QuickDep Inc. en tant que travailleur autonome.</li>
                    <li>Le travailleur a le droit de travailler légalement au Canada.</li>
                    <li>Le travailleur autonome s’engage à respecter ses engagements et complété ses quarts de travail confirmés.</li>
                    <li>Il est interdit de partager ou de parler de son salaire sur son lieu de travail.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div id="signature-pad" class="signature-pad">
    <div class="description" style="font-size:13px">Signer le contrat</div>
    <br>
    <div class="signature-pad--body">
      <canvas></canvas> 
    </div>
    <div class="signature-pad--footer">

      <div class="signature-pad--actions">
        <div class="column">
          <button type="button" class="clear" data-action="clear">Effacer</button>
        </div>
      </div>
    </div>
</div>

<div class="text-center mt-3">
    <button type="button" class="button" data-action="save-png">
        <span class="button__text">Enrégistrer</span>
    </button><br>
    <a class="btn btn-default mt-2" href="{{ path('app_client_web_home') }}" style="border:1px solid #ccc">{{ profile ? 'Retour à l\'accueil': 'Ignorer pour le moment' }}</a>
    <br>
    <br>
</div>

{% endblock %}
