{% extends 'auth_base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h1 class="h2">Bienvenue chez <b>QuickDep</b></h1>
    <p class="lead">
        Modifier le mot de passe
    </p>
    
    {% for message in app.flashes('notice') %}
     <div class="alert alert_danger" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
</div>

<div class="card">
    <div class="card-body">
        <div class="m-sm-4">
            {{ form_start(passForm) }}
                <div class="mb-3">
                    {{ form_label(passForm.password, 'Nouveau mot de passe', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(passForm.password, { 'attr': {'class': 'form-control form-control-lg', 'type': 'email', 'placeholder': 'Entrez votre adresse e-mail'} }) }}
                
                    <br>

                    {{ form_label(passForm.password_c, 'Confirmer le mot de passe', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(passForm.password_c, { 'attr': {'class': 'form-control form-control-lg', 'type': 'email', 'placeholder': 'Entrez votre adresse e-mail'} }) }}
                </div>
                <div class="text-center mt-3">
                    {{ form_widget(passForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary'} }) }}
                </div>
                <div class="text-center">
                    <a class="btn btn-default mt-2" href="{{ path('app_client_web_home') }}" style="border:1px solid #ccc">Retour à l'accueil</a>
                </div>
            {{ form_end(passForm) }}
        </div>
    </div>
</div>
{% endblock %}
