{% extends 'auth_base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h1 class="h2">{% if (profile) %}Modifier votre <b>Mode de paiement</b>{% else %}Bienvenue chez <b>QuickDep</b>{% endif %}</h1>
    <p class="lead">
        Veuillez choisir votre mode de <b>paiement</b>
    </p>
    
    {% for message in app.flashes('notice') %}
     {# <div class="alert alert_danger" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br> #}
    {% endfor %}
    
    {% for message in app.flashes('success') %}
     <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
</div>

<div class="card">
    <div class="card-body">
        {{ form_start(paiementForm) }}
        <div class="m-sm-4">
            <div class="wrapper">
                <input type="radio" name="paiement" value="1" id="option-1" checked>
                <input type="radio" name="paiement" value="2" id="option-2">
                <label for="option-1" class="option option-1">
                    <span>Paiement par chèque</span>
                </label>
                <label for="option-2" class="option option-2">
                    <span>Paiement direct</span>
                </label>
            </div>
            <br>
            <br>
            <div id="paiement1_box" style="text-align:center">
                <h3 style="
                    font-size: 16px;
                    font-weight: bold;
                ">Adresse QuickDep</h3>        
                <p>Compagnie QuickDep Inc.</p>
                <hr>
                <p>202-2955 Avenue Maricourt Québec, Québec G1W 4T8</p>
            </div>
            <div style="text-align:center; display:none" id="paiement2_box">    
                <br>    
                <a href="#" style="margin-bottom:10px;" class="btn btn-primary">Télécharger le Spécimen de chèque</a>
                <a href="#" class="btn btn-primary">Télécharger l'attestation de revenue Québec</a>
                <br>
                <hr>
            </div>
            <br>
            <div class="text-center mt-3">
            {{ form_widget(paiementForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary'} }) }}
            </div>

        </div>
        {{ form_end(paiementForm) }}
    </div>
</div>
{% endblock %}
