{% extends 'auth_base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h1 class="h2">Bienvenue chez <b>QuickDep</b></h1>
    <p class="lead">
        Inscrivez-vous comme une <b>entréprise</b> 
    </p>
    
    {% for message in app.flashes('notice') %}
     <div class="alert alert_danger" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
</div>

<div class="card">
    <div class="card-body">
        <div class="m-sm-4">
            {{ form_start(registerForm) }}
                <div class="mb-3">
                    {{ form_label(registerForm.name, 'Nom de l\'entreprise', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.name, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Entrez le nom de l\'entreprise'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registerForm.owner, 'Nom du responsable', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.owner, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Entrez le nom du responsable'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registerForm.phone, 'Numéro de téléphone', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.phone, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Entrez le numéro de téléphone'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registerForm.address, 'Adresse de l\'entreprise', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.address, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Entrez l\'adresse de l\'entreprise'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registerForm.town, 'Ville de l\'entreprise', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.town, { 'attr': {'class': 'form-select form-control', 'type': 'text', 'placeholder': 'Entrez la ville de l\'entreprise'} }) }}
                </div>
                <div class="mb-4">
                    {{ form_label(registerForm.zipcode, 'Code postal', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.zipcode, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Entrez le code postal'} }) }}
                </div>
                <label class="form-check mb-2">
                    <input id="diffFacture" class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label">
                        Addresse de facturation différente ?
                    </span>
                </label>
                
                <div id="factureAddress" style="display:none">
                    <div class="mb-3">
                        {{ form_label(registerForm.factureaddress, 'Adresse de facturation', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(registerForm.factureaddress, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Entrez l\'adresse de facturatioln'} }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(registerForm.facturezipcode, 'Code postal (Facturation)', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(registerForm.facturezipcode, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Entrez le code postal (de facturation)'} }) }}
                    </div>
                </div>
                <hr style="margin-bottom:10px; opacity:.1">
                <div class="mb-3">
                    {{ form_label(registerForm.email, 'Adresse E-mail', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.email, { 'attr': {'class': 'form-control form-control-lg', 'type': 'email', 'placeholder': 'Entrez votre adresse E-mail'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registerForm.password, 'Mot de passe', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.password, { 'attr': {'class': 'form-control form-control-lg', 'type': 'password', 'placeholder': 'Créer un mot de passe'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registerForm.passwordconfirm, 'Confirmer le mot de passe', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(registerForm.passwordconfirm, { 'attr': {'class': 'form-control form-control-lg', 'type': 'password', 'placeholder': 'Confirmer le mot de passe'} }) }}
                </div>
                <div class="text-center mt-3">
                    {{ form_widget(registerForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary'} }) }}
                </div>
                <br>
                <p style="text-align: center">Vous avez déjà un comte ? <b><a href="{{ path("app_client_web_auth") }}">Connectez-vous</a></b></p>
            {{ form_end(registerForm) }}
        </div>
    </div>
</div>
{% endblock %}
