{% extends 'admin/base.html.twig' %}

{% block title %}Detail du travailleur{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
    <a href="{{ app.request.headers.get('referer') }}" class="contract-card-link">
        <div class="card" style="display:inline-block">
            <div class="card-header">
            <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
            </div>
        </div>
    </a>
    <div class="card">
        <div class="card-header">
        <h5 style="display:inline; margin-right:10px" class="card-title mb-0">Details du travailleur {{ user.firstname ~ ' ' ~ user.lastname }}</h5>
        {% if user.getDocumentsStatus == "document_not_sent" %}
            <span class="badge bg-danger">Documents non envoyés</span>
        {% endif %}

        {% if user.getDocumentsStatus == "document_refused" %}
            <span class="badge bg-danger">Documents refusés</span>
        {% endif %}

        {% if user.signed != true %}
            <span class="badge bg-danger">Contrat non signé</span>
        {% endif %}

        {% if user.emailVerified != true %}
        <span class="badge bg-danger">E-mail non vérifié</span>
        {% endif %}

        {% if user.phoneVerified != true %}
        <span class="badge bg-danger">Téléphone non vérifié</span>
        {% endif %}

        {% if 
            user.getDocumentsStatus == "document_waiting" 
            and user.signed == true
            and user.emailVerified == true
            and user.phoneVerified == true 
        %}
        <span class="badge bg-warning">En attente d'approbation</span>
        {% endif %}

        {% if 
            user.getDocumentsStatus == "document_validated" 
            and user.signed == true
            and user.emailVerified == true
            and user.phoneVerified == true 
        %}
        <span class="badge bg-success">Travailleur validé</span>
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Details du compte</h5>
                </div>
                <div class="card-body text-center">
                    <img id="img-prev" src="{{ user.imagePath == null ? asset('clientweb/img/logo.png') : asset('users/images/'~user.imagePath) }}" alt="{{ user.firstname }}" class="img-fluid rounded-circle mb-2" width="128" height="128" style="width:128px; height:128px">
                    <h5 class="card-title mb-0">{{ user.firstname ~ ' ' ~ user.lastname }}</h5>
                    <div class="text-muted mb-2">{{ user.email }}</div>

                    <div>
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file" class="btn btn-info small">
                            <i class="align-middle" style="margin-right:10px" data-feather="upload"></i>
                            <span class="align-middle"> Modifier la photo de profile</span>
                        </label>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Apropos du travailleur</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="user"></i>{{ user.firstname ~ ' ' ~ user.lastname }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="mail"></i>{{ user.email }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map-pin"></i>{{ user.address }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="phone"></i>{{ user.phone }}</li>
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Villes de travail</h5>
                    <ul class="list-unstyled mb-0">
                    {% for townU in user.town %}
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map-pin"></i>{{ townU.name }}</li>
                    {% endfor %}
                    <br>
                    <a href="#" target="_blank" class="btn btn-primary">Modifier les villes de travaille</a>
                    </ul>
                </div>
                <hr class="my-0">
                {% if user.signed and user.usercontract != null%}
                <div class="card-body">
                    <h5 class="h6 card-title">Contrat de travailleur</h5>
                    <ul class="list-unstyled mb-0">
                        <a href="{{ asset("contracts/society/pdf/"~user.usercontract.id) }}.pdf" target="_blank" class="btn btn-primary">Télécharger le contrat</a>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8 col-xl-9">
           
            <div class="card">
                <div class="card-header">

                    <h5 class="card-title mb-0">Modifier les information générales</h5>
                </div>
                <div class="card-body h-100">
                    {{ form_start(infoForm) }}
                    <div class="row">
                        <div class="col-md-6">
                        
                            {{ form_label(infoForm.firstname, 'Prénom *', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.firstname, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>

                            {{ form_label(infoForm.lastname, 'Nom *', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.lastname, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>
                            
                            {{ form_label(infoForm.email, 'E-mail *', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.email, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>
                            
                            {{ form_label(infoForm.phone, 'Téléphone *', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.phone, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>
                        </div>
                        <div class="col-md-6">
                            {{ form_label(infoForm.address, 'Adresse *', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.address, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>
                            
                            {{ form_label(infoForm.work, 'Profession', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.work, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>
                            
                            {{ form_label(infoForm.birthday, 'Date de naissance *', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.birthday, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>
                            
                            {{ form_label(infoForm.bio, 'Bio', {
                                'label_attr': {'class': 'form-label'}
                            }) }}
                            {{ form_widget(infoForm.bio, { 'attr': {'class': 'form-control'} }) }}
                            
                            <br>
                        </div>
                    </div>
                    <div class="text-center">
                        {{ form_widget(infoForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer les modification ?')"} }) }}
                    </div>

                    {{ form_end(infoForm) }}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Documents administratifs</h5>
                </div>
                <div class="card-body h-100">
                    {% for document in user.documents %}
                    <div style="border:1px solid #ccc; border-radius:5px; padding:10px 15px; margin-bottom:10px; display: flex; justify-content:space-between;align-items:center">
                        <span>{{ document.type.title }}</span>
                        <div>
                            {% 
                            set status =
                            document.statut == "document_not_sent" ? "Document non envoyé" : (
                                document.statut == "document_waiting" ? "En attente de validation" : (
                                    document.statut == "document_validated" ? "Validé" : "Non valide"
                                ) 
                            )
                            %}

                            {% 
                            set color =
                            document.statut == "document_validated" ? "success" : (
                                document.statut == "document_waiting" ? "warning" : "danger"  
                            ) 
                            %}
                            {% if document.type.type == 'file' %}
                                <span class="badge bg-{{ color }}" style="margin-right:5px">{{ status }}</span>
                                {% if document.statut != "document_not_sent" %}
                                    <a href="{{ asset('documents/files/' ~ document.filePath) }}" class="btn btn-info" target="_blank" title="Voir"><i class="align-middle" data-feather="eye"></i></a>
                                {% endif %}
                                {% if document.statut != "document_refused" and document.statut != "document_not_sent" %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Réfuser" action="{{ path('app_user_document_unvalid', {'id': document.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir refuser ce document ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="x"></i></button>
                                </form>
                                {% endif %}
                                {% if document.statut != "document_validated" and document.statut != "document_not_sent" %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Valider" action="{{ path('app_user_document_valid', {'id': document.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir valider ce document ?')" type="submit" class="btn btn-success"><i class="align-middle" data-feather="check"></i></button>
                                </form>
                                {% endif %}
                            {% else %}
                            <span style="margin-right:5px; font-weight:bold">{{ document.text }}</span>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Statistiques</h5>
                </div>
                <div class="card-body h-100">
                    <div class="row">
                        <div class="col-md-4">
                            <div style="border:1px solid #ccc; border-radius:5px; padding:10px 15px; margin-bottom:10px; text-align:center">
                                <span style="font-weight:bold">Shifts Complétés</span>
                                <div style="font-size:20px">{{ user.completed }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="border:1px solid #ccc; border-radius:5px; padding:10px 15px; margin-bottom:10px; text-align:center">
                                <span style="font-weight:bold">Shifts Annulés</span>
                                <div style="font-size:20px">{{ user.canceled }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="border:1px solid #ccc; border-radius:5px; padding:10px 15px; margin-bottom:10px; text-align:center">
                                <span style="font-weight:bold">Absences non justifiées</span>
                                <div style="font-size:20px">{{ user.notworked }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
