{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Document Administratifs' }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
    <a href="{{ app.request.headers.get('referer') }}" class="contract-card-link">
        <div class="card" style="display:inline-block">
            <div class="card-header">
            <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
            </div>
        </div>
    </a>
    <div class="card">
        <div class="card-header">
        <h5 class="card-title mb-0">Document Administratifs</h5>
        </div>
        <div class="card-body">
            <p>Veuillez joindre les documents du travailleur <b>{{ employee.firstname ~ ' ' ~ employee.lastname }}</b></p>
            {{ form_start(form) }}
                
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
