{% extends 'admin/base.html.twig' %}

{% set i = 1 %}

{% block title %}Travailleurs{% endblock %}

{% 
    set months = [
        'Janvier',
        'Février',
        'Mars',
        'Avril',
        'Mai',
        'Juin',
        'Juillet',
        'Août',
        'Septembre',
        'Octobre',
        'Novembre',
        'Decembre',
    ]   
 %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Liste des travailleurs</h1>
    <a href="{{ path('app_user_new_user') }}"="" class="btn btn-primary"><i class="align-middle" data-feather="plus"></i>Enrégistrer un utilisateur</a>
</div>
<hr>
<br>

<div class="row">
    <div class="col-12">

    {% for message in app.flashes('success') %}
    <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
    
    <ul class="container__list">
        <li class="container__item container__item_active">
        <span class="container__link">Tous</span>
        </li>
        <li class="container__item">
        <span class="container__link">Validés</span>
        </li>
        <li class="container__item">
        <span class="container__link">Non validés</span>
        </li>
    </ul>
    <div class="container__inner">
       <div class="row">
            <div class="col-12">
                <div class="card flex-fill">
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="d-none d-xl-table-cell">Nom</th>
                                <th class="d-none d-xl-table-cell">Prénom</th>
                                <th class="d-none d-xl-table-cell">Adresse</th>
                                <th class="d-none d-md-table-cell">Email</th>
                                <th class="d-none d-md-table-cell">Statut</th>
                                <th class="d-none d-md-table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in all %}
                            <tr>
                                <td>{{ i }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.lastname }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.firstname }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.address }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.email }}</td>
                                <td>
                                    {% if user.getDocumentsStatus == "document_not_sent" %}
                                        <span class="badge bg-danger">Documents non envoyés</span><br>
                                    {% endif %}

                                    {% if user.getDocumentsStatus == "document_refused" %}
                                        <span class="badge bg-danger">Documents refusés</span><br>
                                    {% endif %}

                                    {% if user.signed != true %}
                                        <span class="badge bg-danger">Contrat non signé</span><br>
                                    {% endif %}

                                    {% if user.emailVerified != true %}
                                    <span class="badge bg-danger">E-mail non vérifié</span><br>
                                    {% endif %}

                                    {% if user.phoneVerified != true %}
                                    <span class="badge bg-danger">Téléphone non vérifié</span><br>
                                    {% endif %}

                                    {% if 
                                        user.getDocumentsStatus == "document_waiting" 
                                        and user.signed == true
                                        and user.emailVerified == true
                                        and user.phoneVerified == true 
                                    %}
                                    <span class="badge bg-warning">En attente d'approbation</span><br>
                                    {% endif %}

                                    {% if 
                                        user.getDocumentsStatus == "document_validated" 
                                        and user.signed == true
                                        and user.emailVerified == true
                                        and user.phoneVerified == true 
                                    %}
                                    <span class="badge bg-success">Travailleur validé</span><br>
                                    {% endif %}
                                </td>
                                <td class="d-none d-xl-table-cell">
                                    <form  method="POST" style="display:inline; margin-right:5px" title="Supprimer" action="{{ path('app_user_delete_user', {'id': user.id}) }}">
                                        <button onclick="return confirm('Etes-vous sûr de vouloir supprimer ce travailleur ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
                                    </form>
                                    {# <a href="#" class="btn btn-primary" title="Modifier"><i class="align-middle" data-feather="edit"></i></a> #}
                                    <a href="{{ path('app_user_detail', {'id': user.id}) }}" class="btn btn-info" title="Voir"><i class="align-middle" data-feather="eye"></i></a>
                                </td>
                            </tr>
                            {% set i=i+1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container__inner container__inner_hidden">
        <div class="row">
            <div class="col-12">
                <div class="card flex-fill">
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="d-none d-xl-table-cell">Nom</th>
                                <th class="d-none d-xl-table-cell">Prénom</th>
                                <th class="d-none d-xl-table-cell">Adresse</th>
                                <th class="d-none d-md-table-cell">Email</th>
                                <th class="d-none d-md-table-cell">Statut</th>
                                <th class="d-none d-md-table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in validated %}
                            <tr>
                                <td>{{ i }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.lastname }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.firstname }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.address }}</td>
                                <td class="d-none d-xl-table-cell">{{ user.email }}</td>
                                <td>
                                    {% if user.getDocumentsStatus == "document_not_sent" %}
                                        <span class="badge bg-danger">Documents non envoyés</span><br>
                                    {% endif %}

                                    {% if user.getDocumentsStatus == "document_refused" %}
                                        <span class="badge bg-danger">Documents refusés</span><br>
                                    {% endif %}

                                    {% if user.signed != true %}
                                        <span class="badge bg-danger">Contrat non signé</span><br>
                                    {% endif %}

                                    {% if user.emailVerified != true %}
                                    <span class="badge bg-danger">E-mail non vérifié</span><br>
                                    {% endif %}

                                    {% if user.phoneVerified != true %}
                                    <span class="badge bg-danger">Téléphone non vérifié</span><br>
                                    {% endif %}

                                    {% if 
                                        user.getDocumentsStatus == "document_waiting" 
                                        and user.signed == true
                                        and user.emailVerified == true
                                        and user.phoneVerified == true 
                                    %}
                                    <span class="badge bg-warning">En attente d'approbation</span><br>
                                    {% endif %}

                                    {% if 
                                        user.getDocumentsStatus == "document_validated" 
                                        and user.signed == true
                                        and user.emailVerified == true
                                        and user.phoneVerified == true 
                                    %}
                                    <span class="badge bg-success">Travailleur validé</span><br>
                                    {% endif %}
                                </td>
                                <td class="d-none d-xl-table-cell">
                                    <form  method="POST" style="display:inline; margin-right:5px" title="Supprimer" action="{{ path('app_user_delete_user', {'id': user.id}) }}">
                                        <button onclick="return confirm('Etes-vous sûr de vouloir supprimer ce travailleur ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
                                    </form>
                                    {# <a href="#" class="btn btn-primary" title="Modifier"><i class="align-middle" data-feather="edit"></i></a> #}
                                    <a href="{{ path('app_user_detail', {'id': user.id}) }}" class="btn btn-info" title="Voir"><i class="align-middle" data-feather="eye"></i></a>
                                </td>
                            </tr>
                            {% set i=i+1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container__inner container__inner_hidden"><div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="d-none d-xl-table-cell">Nom</th>
                            <th class="d-none d-xl-table-cell">Prénom</th>
                            <th class="d-none d-xl-table-cell">Adresse</th>
                            <th class="d-none d-md-table-cell">Email</th>
                            <th class="d-none d-md-table-cell">Statut</th>
                            <th class="d-none d-md-table-cell">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in waiting %}
                        <tr>
                            <td>{{ i }}</td>
                            <td class="d-none d-xl-table-cell">{{ user.lastname }}</td>
                            <td class="d-none d-xl-table-cell">{{ user.firstname }}</td>
                            <td class="d-none d-xl-table-cell">{{ user.address }}</td>
                            <td class="d-none d-xl-table-cell">{{ user.email }}</td>
                            <td>
                                {% if user.getDocumentsStatus == "document_not_sent" %}
                                    <span class="badge bg-danger">Documents non envoyés</span><br>
                                {% endif %}

                                {% if user.getDocumentsStatus == "document_refused" %}
                                    <span class="badge bg-danger">Documents refusés</span><br>
                                {% endif %}

                                {% if user.signed != true %}
                                    <span class="badge bg-danger">Contrat non signé</span><br>
                                {% endif %}

                                {% if user.emailVerified != true %}
                                <span class="badge bg-danger">E-mail non vérifié</span><br>
                                {% endif %}

                                {% if user.phoneVerified != true %}
                                <span class="badge bg-danger">Téléphone non vérifié</span><br>
                                {% endif %}

                                {% if 
                                    user.getDocumentsStatus == "document_waiting" 
                                    and user.signed == true
                                    and user.emailVerified == true
                                    and user.phoneVerified == true 
                                %}
                                <span class="badge bg-warning">En attente d'approbation</span><br>
                                {% endif %}

                                {% if 
                                    user.getDocumentsStatus == "document_validated" 
                                    and user.signed == true
                                    and user.emailVerified == true
                                    and user.phoneVerified == true 
                                %}
                                <span class="badge bg-success">Travailleur validé</span><br>
                                {% endif %}
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <form  method="POST" style="display:inline; margin-right:5px" title="Supprimer" action="{{ path('app_user_delete_user', {'id': user.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir supprimer ce travailleur ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
                                </form>
                                {# <a href="#" class="btn btn-primary" title="Modifier"><i class="align-middle" data-feather="edit"></i></a> #}
                                <a href="{{ path('app_user_detail', {'id': user.id}) }}" class="btn btn-info" title="Voir"><i class="align-middle" data-feather="eye"></i></a>
                            </td>
                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
