{% extends 'admin/base.html.twig' %}

{% block title %}{{ edit ? 'Modifier les informations du travailleur : ' ~ employee.email : 'Enrégistrer un travailleur' }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
    <a href="{{ app.request.headers.get('referer') }}" class="contract-card-link">
        <div class="card" style="display:inline-block">
            <div class="card-header">
            <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
            </div>
        </div>
    </a>
    <div class="card">
        <div class="card-header">
        <h5 class="card-title mb-0">{{ edit ? 'Modifier le shift : ' ~ employee.email: 'Enrégistrer un travailleur' }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(employeeForm) }}
                <div class="row">
                    <div class="col-6">

                        {{ form_label(employeeForm.firstname, 'Prénom *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.firstname, { 'attr': {'class': 'form-control'} }) }}
    
                        <br>
                        {{ form_label(employeeForm.lastname, 'Nom *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.lastname, { 'attr': {'class': 'form-control'} }) }}

                        <br>
                        {{ form_label(employeeForm.work, 'Proféssion *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.work, { 'attr': {'class': 'form-control'} }) }}

                        <br>
                        {{ form_label(employeeForm.birthday, 'Date de naissance *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.birthday, { 'attr': {'class': 'form-control', 'style': 'width:100%'} }) }}
                        
                        <br>
                        {{ form_label(employeeForm.address, 'Adresse *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.address, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        {{ form_label(employeeForm.phone, 'Téléphone *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.phone, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-6" style="position:relative">
                        {{ form_label(employeeForm.email, 'Adresse E-mail *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.email, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        {{ form_label(employeeForm.password, 'Mot de passe *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.password, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        {{ form_label(employeeForm.password_confirm, 'Confirmer le mot de passe *', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(employeeForm.password_confirm, { 'attr': {'class': 'form-control'} }) }}
                        
                        <div style="position:absolute; bottom:0; right:0">
                            {{ form_widget(employeeForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir " ~ (edit ? "modifier" : "enrégistrer") ~ " cet travailleur ?')"} }) }}
                        </div>
                    </div>
                </div>
            {{ form_end(employeeForm) }}
        </div>
    </div>
</div>
{% endblock %}
