{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Villes de travaille' }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
    <a href="{{ app.request.headers.get('referer') }}" class="contract-card-link">
        <div class="card" style="display:inline-block">
            <div class="card-header">
            <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
            </div>
        </div>
    </a>
    <div class="card">
        <div class="card-header">
        <h5 class="card-title mb-0">Villes de travaille</h5>
        </div>
        <div class="card-body">
            <p>Veuillez séléctionner les villes où le travailleur <b>{{ employee.firstname ~ ' ' ~ employee.lastname }}</b> pourra travailler</p>
            {{ form_start(townForm) }}
                <div class="container">
                {% for town in towns %}
                    <div class="checkbox">
                        <input type="checkbox" name="{{ town.id }}" id="{{ town.name }}" />
                        <div class="box">
                            <i class="align-middle" data-feather="map-pin"></i>
                            <p data-text="{{ town.name }}">{{ town.name }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <br>
                <div style="display:flex; align-items:end;justify-content:end">
                    {{ form_widget(townForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer ces villes "} }) }}
                </div>
            {{ form_end(townForm) }}
        </div>
    </div>
</div>
{% endblock %}
