{% extends 'admin/base.html.twig' %}

{% block title %}Feuille de temps{% endblock %}

{% block body %}
{{ form_start(timeSheetForm) }}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
        display: inline-block;
        margin-bottom: 0 !important
    "></h1>
    <di style="display:flex">
        <a href="#" id="edit-time-sheet-btn" style="margin-right:10px" class="btn btn-primary"><i class="align-middle" data-feather="edit-3"></i> Modifier</a>
        {{ form_widget(timeSheetForm.submit, { 'attr': {'class': 'btn btn-lg btn-success', 'onclick': "return confirm('Etes-vous sûr de vouloir approuver ces heures ?')", 'style':'display:' ~ (contract.status == 'contract_time_approuved' ? 'none': 'inline-block'), 'id': 'submit-ts-btn'} }) }}
    </di>
</div>
    <br>

<div class="row">
    <div class="col-12">

    <a href="{{ app.request.headers.get('referer') }}" class="contract-card-link">
        <div class="card" style="display:inline-block">
        <div class="card-header">
        <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
        </div>
    </div>
    </a>
    <div class="card">
        <div class="card-header">
        <h5 class="card-title mb-0">Feuille de temps</h5>
        </div>
        <div class="card-body">
            <div style="display:flex; align-items:center">
                <div style="display:flex; align-items:center">
                    <img
                        src="{{asset('users/images/'~image)}}"
                        class="avatar img-fluid rounded me-1"
                        alt="{{ contract.client.name }}"
                        style="width:60px !important;height:60px"
                    />
                    <div style="display:inline-block;margin-left:10px">
                        <h5 class="card-title mb-0" style="">{{ contract.job.title }}</h5>
                        <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ contract.code }}</p>
                    </div>
                </div>
                {% if contract.status == 'contract_time_sent' %}
                <div style="display:flex; margin-left: 30px">
                    <i class="align-middle" data-feather="clock" style="color:orange"></i>
                </div>
                <div style="display:flex; margin-left: 30px" class="status-box waiting">
                    <p>À valider</p>
                </div>
                {% endif %}
                {% if contract.status == 'contract_time_approuved' %}
                <div style="display:flex; margin-left: 30px">
                    <i class="align-middle" data-feather="check-circle" style="color:green; margin-right:10px"></i>
                </div>
                <div style="display:flex; margin-left: 30px" class="status-box approuved">
                    <p>Approuvé</p>
                </div>
                {% endif %}
            </div>
            <hr style="opacity:0.1">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Date</p>                    
                    <p>{{ contract.startdate | date('d/m/Y') }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Total heures</p>                    
                    <p></p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Taux horraire</p>    
                    
                    <div>
                        <h4 class="mb-0" style="display:inline; font-weight:bold">{{ contract.clientrate ~ "$/H" }}</h4>
                        <h6 class="mb-0" style="display:inline; color:green; font-weight:bold">{{ contract.bonus != null ? "+" ~ contract.bonus ~ "$/H": "" }}</h6>
                    </div>                
                </div>
            </div>
            <hr style="opacity:0.1">

            <br>

            <div class="row">
                <div class="col-4">
                    {{ form_label(timeSheetForm.startdate, 'Heure du début *', {
                        'label_attr': {'class': 'form-label'}
                    }) }}<br>
                    {{ form_widget(timeSheetForm.startdate, { 'attr': {'class': 'form-control-lg', 'style': 'width:100%', 'readonly':contract.status != 'contract_worked' ? '' : 'readonly'} }) }}
                </div>
                <div class="col-4">
                    {{ form_label(timeSheetForm.enddate, 'Heure de la fin *', {
                        'label_attr': {'class': 'form-label'}
                    }) }}<br>
                    {{ form_widget(timeSheetForm.enddate, { 'attr': {'class': 'form-control-lg', 'style': 'width:100%', 'readonly':contract.status != 'contract_worked' ? '' : 'readonly'} }) }}
                </div>

                <div class="col-4">
                    {{ form_label(timeSheetForm.pause, 'Durée de la pause', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(timeSheetForm.pause, { 'attr': {'class': 'form-select form-control-lg'} }) }}
                </div>

            </div>

            {% if contract.status != 'contract_published' %}
            <hr style="opacity:0.1">
            <p style="
                font-weight: bold;
                margin-bottom: 5px;
            ">Employé</p>  
            
            <div class="row">
                {{ component('EmployeeCard', {employee: contract.employee, contract: contract}) }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{{ form_end(timeSheetForm) }}
{% endblock %}
