{% extends 'admin/base.html.twig' %}

{% block title %}Feuilles de temps{% endblock %}

{% 
    set months = [
        'Janvier',
        'Février',
        'Mars',
        'Avril',
        'Mai',
        'Juin',
        'Juillet',
        'Août',
        'Septembre',
        'Octobre',
        'Novembre',
        'Decembre',
    ]   
 %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Feuilles de temps en attente de validation</h1>
</div>
<hr>
<br>

<div class="row">
    <div class="col-12">

    {% for message in app.flashes('success') %}
    <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}

    <div class="row">
        
        {% if contracts|length == 1 %}
            <h3 class="form-label" style="font-size:15px; font-weight:bold">{{ contracts[0] }}</h3>
        {% else %}
            {% for contract in contracts %}
                {% if  contract is iterable %}
                    {% 
                        set month = contract[0]|split(' ')
                    %}
                    <h3 class="form-label" style="font-size:15px; font-weight:bold">{{ months[month[0] - 1] ~ ' ' ~ month[1]}}</h3>
                    <br>
                    <br>
                {% else %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="{{contract.status == 'contract_worked' ? '#': path('app_client_web_timesheet_detail', {'id': contract.id})}}"  class='contract-card-link'>
                        <div class="card contract-card {{ contract.status == 'contract_worked' ? 'disabled': '' }}" style="cursor:pointer;{{ contract.status == 'contract_worked' ? 'opacity:.6': '' }}">
                            <div class="card-header" style="display:flex; align-items:center">
                                <img
                                    src="{{asset('users/images/'~images[contract.id])}}"
                                    class="avatar img-fluid rounded me-1"
                                    alt="{{ app.session.get('user').client.name }}"
                                />
                                <div style="display:inline-block;margin-left:10px">
                                    <h5 class="card-title mb-0" style="">{{ contract.job.title }}</h5>
                                    <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ contract.code }}</p>
                                </div>
                            </div>
                            <div class="card-body" style="padding-top:0">
                                <div class="mb-2">
                                    <i class="align-middle" data-feather="calendar"></i>
                                    <h5 class="mb-0" style="display:inline; margin-left:10px">{{ contract.startdate | date('d/m/Y') }}</h5>
                                </div>
                                <div>
                                    <i class="align-middle" data-feather="clock"></i>
                                    <h5 style="display:inline; margin-left:10px">{{ contract.startdate | date("G:i") }} à {{ contract.enddate | date("G:i") }}</h5>
                                </div>
                                    <hr style="opacity:0.1">
                                <div style="cursor:pointer; position:relative; display:flex;justify-content: space-between; align-items:center">
                                    <div>
                                        <h4 class="mb-0" style="display:inline; font-weight:bold">{{ contract.clientrate ~ "$/H" }}</h4>
                                        <h6 class="mb-0" style="display:inline; color:green; font-weight:bold">{{ contract.bonus != null ? "+" ~ contract.bonus ~ "$/H": "" }}</h6>
                                    </div>
                                    <div style="display:flex">
                                        {% if contract.status == 'contract_worked' %}
                                        <div class="status-box waiting small">En attente du travailleur</div>                                            
                                        {% endif %}
                                        {% if contract.status == 'contract_time_sent' %}
                                        <i class="align-middle" data-feather="clock" style="color:orange;"></i>                                        
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
            
    </div>
</div>
{% endblock %}
