{% extends 'admin/base.html.twig' %}

{% block title %}Finance{% endblock %}

{% 
    set months = [
        'Janvier',
        'Février',
        'Mars',
        'Avril',
        'Mai',
        'Juin',
        'Juillet',
        'Août',
        'Septembre',
        'Octobre',
        'Novembre',
        'Decembre',
    ]   
 %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Statistiques de finance</h1>
</div>
<hr>
<br>

<div class="row">
    <div class="col-12">

    {% for message in app.flashes('success') %}
    <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Payé aux employés</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="credit-card"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ paid_employee }}$</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">À payer aux employés</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="clock"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ unpaid_employee }}$</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">À recevoir des entréprises</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="clock"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ unpaid_clients }}$</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Réçu des entréprises</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="credit-card"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ paid_clients }}$</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Bénéfices</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="target"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ benefits }}$</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
