{% extends 'admin/base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% 
    set months = [
        'Janvier',
        'Février',
        'Mars',
        'Avril',
        'Mai',
        'Juin',
        'Juillet',
        'Août',
        'Septembre',
        'Octobre',
        'Novembre',
        'Decembre',
    ]   
 %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Statistiques</h1>
</div>
<hr>
<br>

<div class="row">
    <div class="col-12">

    {% for message in app.flashes('success') %}
    <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Shifts Complétés</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="check-square"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ completed_shifts }}</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Shifts non Complétés</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="x-circle"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ uncompleted_shifts }}</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Utilisateurs</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="users"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ total_users }}</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Entréprises</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="briefcase"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ clients }}</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Heures complétées</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="clock"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ completed_hours }}H</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Demandes comblées</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="user-check"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ completed_requests }}%</h1>
                    <div class="mb-0">
                        <span class="text-muted">Depuis de début de l'entreprise</span>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
