{% extends 'admin/base.html.twig' %}

{% block title %}Detail du contrat{% endblock %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
        display: inline-block;
        margin-bottom: 0 !important
    "></h1>
    <div>
        {% if contract.status == "contract_published" %}
        <a href="{{ path('app_client_web_edit_shift', {'id' : contract.id}) }}" style="margin-right:10px" class="btn btn-primary"><i class="align-middle" data-feather="edit-3"></i> Modifier</a>
        {% endif %}
        {% if contract.status == "contract_approuved" %}
        <form  method="POST" style="display:inline; margin-right:5px" action="#">
            <button onclick="return confirm('Etes-vous sûr de vouloir signaler que l'employé s'est pas présenté ?')" type="submit" class="btn btn-primary"><i class="align-middle" data-feather="user-x"></i> Employé absent</button>
        </form>
        {% endif %}
        <form  method="POST" style="display:inline" action="{{ path('app_client_web_delete_shift_detail', {'id': contract.id}) }}">
            <button onclick="return confirm('Etes-vous sûr de vouloir supprimer ce contrat ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i> Supprimer</button>
        </form>
    </div>
</div>
    <br>

<div class="row">
    <div class="col-12">

    <a href="{{ app.request.headers.get('referer') }}" class="contract-card-link">
        <div class="card" style="display:inline-block">
            <div class="card-header">
            <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
            </div>
        </div>
    </a>
    {{ component('ContractDetail', {contractData: contract, user : app.session.get('user')}) }}
</div>
{% endblock %}
