{% extends (type is defined and type == 'admin') ? 'admin/base.html.twig': 'client_web/base.html.twig' %}

{% block title %}Detail de la facture{% endblock %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
        display: inline-block;
        margin-bottom: 0 !important
    "></h1>
    <div>
        <a href="{{ asset("invoices/pdf/" ~ invoice.code ~ ".pdf") }}" target="_blank" onclick="return confirm('Etes-vous sûr de vouloir télécharger cette facture ?')" class="btn btn-primary"><i class="align-middle" data-feather="file"></i> Télécharger (.pdf)</a>
       
        {% if app.session.get('type') == 'admin' and invoice.paid != true %}
        <form  method="POST" style="display:inline;margin-left:10px" action="{{ path('app_user_validate_invoice', {'id': invoice.id}) }}">
            <button onclick="return confirm('Etes-vous sûr de vouloir signaler que cette facture est payée ?')" type="submit" class="btn btn-success"><i class="align-middle" style="margin-right:10px" data-feather="check"></i> Payer</button>
        </form>
        {% endif %}{% if app.session.get('type') == 'admin' and invoice.paid == true %}
        <form  method="POST" style="display:inline;margin-left:10px" action="{{ path('app_user_cancel_invoice', {'id': invoice.id}) }}">
            <button onclick="return confirm('Etes-vous sûr de vouloir signaler que cette facture n\'est pas payée ?')" type="submit" class="btn btn-danger"><i class="align-middle" style="margin-right:10px" data-feather="x"></i> Non payée</button>
        </form>
        {% endif %}
    </div>
</div>
    <br>

<div class="row">
    <div class="col-12">

    <a href="{{ app.request.headers.get('referer') }}" class="invoice-card-link">
        <div class="card" style="display:inline-block">
        <div class="card-header">
        <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
        </div>
    </div>
    </a>
    <div class="card">
        <div class="card-header">
        <h5 class="card-title mb-0">Detail de la facture</h5>
        </div>
        <div class="card-body">
            <div style="display:flex; align-items:center">
                <div style="display:flex; align-items:center">
                    <img
                        src="{{asset('users/images/'~invoice.user.imagePath)}}"
                        class="avatar img-fluid rounded me-1"
                        alt="{{ invoice.user.email }}"
                        style="width:60px !important;height:60px"
                    />
                    <div style="display:inline-block;margin-left:10px">
                        <h5 class="card-title mb-0" style="">"Facture - " {{ invoice.code }}</h5>
                        <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ invoice.code }}</p>
                    </div>
                </div>
                {% if invoice.paid %}
                    <div style="display:flex; margin-left: 30px">
                        <i class="align-middle" data-feather="check-circle" style="color:green; margin-right:10px"></i>
                    </div>
                    <div style="display:flex; margin-left: 30px" class="status-box approuved">
                        <p>Payée</p>
                    </div>
                {% else %}
                    <div style="display:flex; margin-left: 30px">
                        <i class="align-middle" data-feather="clock" style="color:orange; margin-right:10px"></i>
                    </div>
                    <div style="display:flex; margin-left: 30px" class="status-box waiting">
                        <p>En attente du paiement</p>
                    </div>
                {% endif %}
            </div>
            <hr style="opacity:0.1">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Date</p>                    
                    <p>{{ invoice.date | date('d/m/Y') }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Période</p>                    
                    <p>Semaine du {{ invoice.start | date('d/m/Y') }} au {{ invoice.end | date('d/m/Y') }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Total à payer</p>    
                    
                    <div>
                        <h4 class="mb-0" style="display:inline; font-weight:bold">{{ invoice.total ~ "$" }}</h4>
                    </div>                
                </div>
            </div>
        </div>
    </div>
     <div class="card flex-fill">
        <div class="card-header">

            <h5 class="card-title mb-0">Contrats</h5>
        </div>
        <table class="table table-hover my-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="d-none d-xl-table-cell">Poste</th>
                    <th class="d-none d-xl-table-cell">Date</th>
                    <th class="d-none d-xl-table-cell">Nb Heures</th>
                    <th class="d-none d-md-table-cell">Taux/H</th>
                    <th class="d-none d-md-table-cell">Bonus</th>
                    <th class="d-none d-md-table-cell">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in invoice.contracts %}
                <tr>
                    <td>{{ contract.code }}</td>
                    <td>{{ contract.job.title }}</td>
                    <td>{{ contract.startdate | date('d/m/Y') }}</td>
                    <td>{{ contract.timesheet.totaltimes // 60 }}H{{contract.timesheet.totaltimes % 60 == 0 ? '': ((contract.timesheet.totaltimes / 60) - (contract.timesheet.totaltimes // 60)) * 60}}</td>
                    <td>{{ contract.clientrate ~ "$/H " }}</td>
                    <td>{{ contract.bonus != null ? contract.bonus ~ "$/H": "-"}}</td>
                    <td>{{ contract.timesheet.amount}}$</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
