{% extends 'client_web/base.html.twig' %}

{% block title %}Factures à payer{% endblock %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Factures à payer</h1>
</div>
<hr>
<br>

<div class="row">
    <div class="col-12">

    {% for message in app.flashes('success') %}
    <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}

    <div class="row">
        
        {% if invoices|length == 0 %}
            <h3 class="form-label" style="font-size:15px; font-weight:bold">Aucune facture à payer</h3>
        {% else %}
            {% for invoice in invoices %}
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{ path('app_client_web_invoice_detail', {'id': invoice.id})}}"  class='contract-card-link'> 
                        <div class="card contract-card">
                            <div class="card-header" style="display:flex; align-items:center">
                                <img
                                    src="{{asset('users/images/'~app.session.get('user').imagePath)}}"
                                    class="avatar img-fluid rounded me-1"
                                    alt="{{ app.session.get('user').client.name }}"
                                />
                                <div style="display:inline-block;margin-left:10px">
                                    <h5 class="card-title mb-0" style="">{{ "Facture - " ~ invoice.code }}</h5>
                                    <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ invoice.date | date('d/m/Y') }}</p>
                                </div>
                            </div>
                            <div class="card-body" style="padding-top:0">
                                <hr style="opacity:0.1; margin-top:0">
                                <div style="cursor:pointer; position:relative; display:flex;justify-content: space-between; align-items:center">
                                    <div>
                                        <h4 class="mb-0" style="display:inline; font-weight:bold">{{ invoice.total ~ "$" }}</h4>
                                    </div>
                                    <div style="display:flex">
                                        {% if invoice.paid %}
                                        <div class="status-box approuved small">Payé</div> 
                                        {% else %}                                           
                                        <div class="status-box waiting small">En attente du paiement</div>                                            
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
            
    </div>
</div>
{% endblock %}
