{% extends 'auth_base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h1 class="h2">Administration <b>QuickDep</b></h1>
    <p class="lead">
        Connectez-vous à votre compte <b>admin</b> pour continuer
    </p>
    
    {% for message in app.flashes('notice') %}
     <div class="alert alert_danger" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}
</div>

<div class="card">
    <div class="card-body">
        <div class="m-sm-4">
            {{ form_start(loginForm) }}
                <div class="mb-3">
                    {{ form_label(loginForm.email, 'Adresse Email', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(loginForm.email, { 'attr': {'class': 'form-control form-control-lg', 'type': 'email', 'placeholder': 'Entrez votre adresse e-mail'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(loginForm.email, 'Mot de passe', {
                        'label_attr': {'class': 'form-label'}
                    }) }}
                    {{ form_widget(loginForm.password, { 'attr': {'class': 'form-control form-control-lg', 'type': 'password', 'placeholder': 'Entrez votre mot de passe'} }) }}
                </div>
                <div class="text-center mt-3">
                    {{ form_widget(loginForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary'} }) }}
                </div>
            {{ form_end(loginForm) }}
        </div>
    </div>
</div>
{% endblock %}
