{% extends 'admin/base.html.twig' %}

{% block title %}Detail de l'entréprise{% endblock %}

{% block body %}
    <div style="display:flex; align-items:center;justify-content:space-between">
        <a href="{{ app.request.headers.get('referer') }}" class="contract-card-link">
            <div class="card" style="display:inline-block; margin:0">
                <div class="card-header">
                    <h5 class="card-title mb-0"><i class="align-middle" data-feather="arrow-left"></i></h5>
                </div>
            </div>
        </a>
        {% if client.validated != true %}
        <form  method="POST" style="display:inline; margin-right:5px" title="Valider" action="{{ path('app_user_validate_client', {'id': client.id}) }}">
            <button onclick="return confirm('Etes-vous sûr de vouloir valider cette entréprise ?')" type="submit" class="btn btn-success"><i class="align-middle" data-feather="check"></i> Valider</button>
        </form>
        {% else %}
        <form  method="POST" style="display:inline; margin-right:5px" title="Bloquer" action="{{ path('app_user_unvalidate_client', {'id': client.id}) }}">
            <button onclick="return confirm('Etes-vous sûr de vouloir bloquer cette entréprise ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="x"></i> Bloquer</button>
        </form>
        {% endif %}
    </div>
    <br>
    <div class="card">
        <div class="card-header">
        <h5 style="display:inline; margin-right:10px" class="card-title mb-0">Details de l'entréprise {{ client.name }}</h5>
        {% if user.emailVerified != true %}
        <span class="badge bg-danger">E-mail non vérifié</span>
        {% endif %}
        
        {% if user.phoneVerified != true %}
        <span class="badge bg-danger">Phone non vérifié</span>
        {% endif %}
        
        {% if user.signed != true %}
        <span class="badge bg-danger">Contrat non signé</span>
        {% endif %}
        
        {% if 
            user.signed == true
            and user.emailVerified == true 
            and user.phoneVerified == true
            and client.validated != true
        %}
        <span class="badge bg-warning">En attente de validation</span>
        {% endif %}
        
        {% if 
            user.signed == true
            and user.emailVerified == true 
            and user.phoneVerified == true
            and client.validated == true
        %}
        <span class="badge bg-success">Entréprise validée</span>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Informations de l'entréprise</h5>
                </div>
                <div class="card-body text-center">
                    <img id="img-prev" src="{{ user.imagePath == null ? asset('clientweb/img/logo.png') : asset('users/images/'~user.imagePath) }}" alt="{{ client.name }}" class="img-fluid rounded-circle mb-2" width="128" height="128">
                    <h5 class="card-title mb-0">{{ client.name }}</h5>
                    <div class="text-muted mb-2">{{ client.owner }}</div>

                    <div>
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file" class="btn btn-info small">
                            <i class="align-middle" style="margin-right:10px" data-feather="upload"></i>
                            <span class="align-middle"> Modifier le logo</span>
                        </label>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Apropos de l'entréprise</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="user"></i>{{ client.owner }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="mail"></i>{{ user.email }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map-pin"></i>{{ client.zipcode ~ ' - ' ~ client.address }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="phone"></i>{{ client.phone }}</li>
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map"></i>{{ client.town.name }}</li>
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Mode de paiement</h5>
                    <ul class="list-unstyled mb-0">
                    {% if client.payment == 1 %}
                        <li class="mb-1"><b>Paiement par chèque</b></li>
                    {% endif %}
                    {% if client.payment == 2 %}
                        <li class="mb-1"><b>Paiement direct</b></li>
                    {% endif %}
                        <a href="{{ path('app_client_web_auth_paiement', {'profile': 1}) }}" class="btn btn-primary">Modifier</a>
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Adresse de facturation</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><i class="align-middl" style="margin-right:10px" data-feather="map-pin"></i>{{ client.facturezipcode ~ ' - ' ~ client.factureaddress }}</li>
                    </ul>
                </div>
                {% if user.signed and user.usercontract != null %}
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Contrat de facturation</h5>
                    <ul class="list-unstyled mb-0">
                        <a href="{{ asset("contracts/society/pdf/"~user.usercontract.id) }}.pdf" target="_blank" class="btn btn-primary">Télécharger votre contrat</a>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-header">

                    <h5 class="card-title mb-0">Modifier les information générales</h5>
                </div>
                <div class="card-body h-100">
                    {{ form_start(infoForm) }}
                        {{ form_label(infoForm.owner, 'Responsable', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.owner, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>

                        {{ form_label(infoForm.address, 'Adresse de l\'entreprise', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.address, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        
                        {{ form_label(infoForm.zipcode, 'Code postal', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.zipcode, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        
                        {{ form_label(infoForm.town, 'Ville', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(infoForm.town, { 'attr': {'class': 'form-control form-select'} }) }}
                        
                        <br>
                        
                        {{ form_widget(infoForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer les modification ?')"} }) }}

                    {{ form_end(infoForm) }}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Modifier l'adresse de facturation</h5>
                </div>
                <div class="card-body h-100">
                    {{ form_start(factureForm) }}
                       
                        {{ form_label(factureForm.factureaddress, 'Adresse de facturation', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(factureForm.factureaddress, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        
                        {{ form_label(factureForm.facturezipcode, 'Code postal', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(factureForm.facturezipcode, { 'attr': {'class': 'form-control'} }) }}
                        
                        <br>
                        {{ form_widget(factureForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer les modification ?')"} }) }}

                    {{ form_end(factureForm) }}
                </div>
            </div>
            {# <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Modifier le mot de passe</h5>
                </div>
                <div class="card-body h-100">
                    {{ form_start(passForm) }}
                       
                        {{ form_label(passForm.password, 'Mot de passe', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(passForm.password, { 'attr': {'class': 'form-control', 'placeholder': '*******'} }) }}
                        
                        <br>
                        
                        {{ form_label(passForm.password_c, 'Confirmer le mot de passe', {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(passForm.password_c, { 'attr': {'class': 'form-control', 'placeholder': '*******'} }) }}
                        
                        <br>
                        {{ form_widget(passForm.submit, { 'attr': {'class': 'btn btn-lg btn-primary', 'onclick': "return confirm('Etes-vous sûr de vouloir enrégistrer les modification ?')"} }) }}

                    {{ form_end(passForm) }}
                </div>
            </div> #}
        </div>
    </div>
{% endblock %}
