{% extends 'admin/base.html.twig' %}

{% set i = 1 %}

{% block title %}Entreprises{% endblock %}

{% 
    set months = [
        'Janvier',
        'Février',
        'Mars',
        'Avril',
        'Mai',
        'Juin',
        'Juillet',
        'Août',
        'Septembre',
        'Octobre',
        'Novembre',
        'Decembre',
    ]   
 %}

{% block body %}
<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Liste des entréprises</h1>
    <a href="{{ path('app_client_web_auth_register') }}"="" class="btn btn-primary"><i class="align-middle" data-feather="plus"></i>Enrégistrer une entreprise</a>
</div>
<hr>
<br>

<div class="row">
    <div class="col-12">

    {% for message in app.flashes('success') %}
    <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}

    <ul class="container__list">
        <li class="container__item container__item_active">
        <span class="container__link">Tous</span>
        </li>
        <li class="container__item">
        <span class="container__link">Validés</span>
        </li>
        <li class="container__item">
        <span class="container__link">Non validés</span>
        </li>
    </ul>
    <div class="container__inner">
        <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="d-none d-xl-table-cell">Nom de l'entreprise</th>
                            <th class="d-none d-xl-table-cell">Nom du responsable</th>
                            <th class="d-none d-xl-table-cell">Email</th>
                            <th class="d-none d-xl-table-cell">Adresse</th>
                            <th class="d-none d-md-table-cell">Phone</th>
                            <th class="d-none d-md-table-cell">Statut</th>
                            <th class="d-none d-md-table-cell">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in all %}
                        <tr>
                            <td>{{ i }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.name }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.owner }}</td>
                            <td class="d-none d-xl-table-cell">{{ emails[client.id] }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.address }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.phone }}</td>
                            <td>
                                {% if users[client.id].emailVerified != true %}
                                <span class="badge bg-danger">E-mail non vérifié</span><br>
                                {% endif %}
                                
                                {% if users[client.id].phoneVerified != true %}
                                <span class="badge bg-danger">Phone non vérifié</span><br>
                                {% endif %}
                                
                                {% if users[client.id].signed != true %}
                                <span class="badge bg-danger">Contrat non signé</span><br>
                                {% endif %}
                                
                                {% if 
                                    users[client.id].signed == true
                                    and users[client.id].emailVerified == true 
                                    and users[client.id].phoneVerified == true
                                    and client.validated != true
                                %}
                                <span class="badge bg-warning">En attente de validation</span><br>
                                {% endif %}
                                
                                {% if 
                                    users[client.id].signed == true
                                    and users[client.id].emailVerified == true 
                                    and users[client.id].phoneVerified == true
                                    and client.validated == true
                                %}
                                <span class="badge bg-success">Entréprise validée</span><br>
                                {% endif %}
                                
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <form  method="POST" style="display:inline; margin-right:5px" title="Supprimer" action="{{ path('app_user_delete_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir supprimer cette entréprise ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
                                </form>
                                {# <a href="#" class="btn btn-primary" title="Modifier"><i class="align-middle" data-feather="edit"></i></a> #}
                                <a href="{{ path('app_user_client_detail', {'id': client.id}) }}" class="btn btn-info" title="Voir"><i class="align-middle" data-feather="eye"></i></a>
                                {% if client.validated != true %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Valider" action="{{ path('app_user_validate_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir valider cette entréprise ?')" type="submit" class="btn btn-success"><i class="align-middle" data-feather="check"></i></button>
                                </form>
                                {% else %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Bloquer" action="{{ path('app_user_unvalidate_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir bloquer cette entréprise ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="x"></i></button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="container__inner container__inner_hidden">
        <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="d-none d-xl-table-cell">Nom de l'entreprise</th>
                            <th class="d-none d-xl-table-cell">Nom du responsable</th>
                            <th class="d-none d-xl-table-cell">Email</th>
                            <th class="d-none d-xl-table-cell">Adresse</th>
                            <th class="d-none d-md-table-cell">Phone</th>
                            <th class="d-none d-md-table-cell">Statut</th>
                            <th class="d-none d-md-table-cell">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in validated %}
                        <tr>
                            <td>{{ i }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.name }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.owner }}</td>
                            <td class="d-none d-xl-table-cell">{{ emails[client.id] }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.address }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.phone }}</td>
                            <td>
                                {% if users[client.id].emailVerified != true %}
                                <span class="badge bg-danger">E-mail non vérifié</span><br>
                                {% endif %}
                                
                                {% if users[client.id].phoneVerified != true %}
                                <span class="badge bg-danger">Phone non vérifié</span><br>
                                {% endif %}
                                
                                {% if users[client.id].signed != true %}
                                <span class="badge bg-danger">Contrat non signé</span><br>
                                {% endif %}
                                
                                {% if 
                                    users[client.id].signed == true
                                    and users[client.id].emailVerified == true 
                                    and users[client.id].phoneVerified == true
                                    and client.validated != true
                                %}
                                <span class="badge bg-warning">En attente de validation</span><br>
                                {% endif %}
                                
                                {% if 
                                    users[client.id].signed == true
                                    and users[client.id].emailVerified == true 
                                    and users[client.id].phoneVerified == true
                                    and client.validated == true
                                %}
                                <span class="badge bg-success">Entréprise validée</span><br>
                                {% endif %}
                                
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <form  method="POST" style="display:inline; margin-right:5px" title="Supprimer" action="{{ path('app_user_delete_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir supprimer cette entréprise ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
                                </form>
                                {# <a href="#" class="btn btn-primary" title="Modifier"><i class="align-middle" data-feather="edit"></i></a> #}
                                <a href="{{ path('app_user_client_detail', {'id': client.id}) }}" class="btn btn-info" title="Voir"><i class="align-middle" data-feather="eye"></i></a>
                                {% if client.validated != true %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Valider" action="{{ path('app_user_validate_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir valider cette entréprise ?')" type="submit" class="btn btn-success"><i class="align-middle" data-feather="check"></i></button>
                                </form>
                                {% else %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Bloquer" action="{{ path('app_user_unvalidate_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir bloquer cette entréprise ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="x"></i></button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="container__inner container__inner_hidden">
        <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="d-none d-xl-table-cell">Nom de l'entreprise</th>
                            <th class="d-none d-xl-table-cell">Nom du responsable</th>
                            <th class="d-none d-xl-table-cell">Email</th>
                            <th class="d-none d-xl-table-cell">Adresse</th>
                            <th class="d-none d-md-table-cell">Phone</th>
                            <th class="d-none d-md-table-cell">Statut</th>
                            <th class="d-none d-md-table-cell">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in waiting %}
                        <tr>
                            <td>{{ i }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.name }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.owner }}</td>
                            <td class="d-none d-xl-table-cell">{{ emails[client.id] }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.address }}</td>
                            <td class="d-none d-xl-table-cell">{{ client.phone }}</td>
                            <td>
                                {% if users[client.id].emailVerified != true %}
                                <span class="badge bg-danger">E-mail non vérifié</span><br>
                                {% endif %}
                                
                                {% if users[client.id].phoneVerified != true %}
                                <span class="badge bg-danger">Phone non vérifié</span><br>
                                {% endif %}
                                
                                {% if users[client.id].signed != true %}
                                <span class="badge bg-danger">Contrat non signé</span><br>
                                {% endif %}
                                
                                {% if 
                                    users[client.id].signed == true
                                    and users[client.id].emailVerified == true 
                                    and users[client.id].phoneVerified == true
                                    and client.validated != true
                                %}
                                <span class="badge bg-warning">En attente de validation</span><br>
                                {% endif %}
                                
                                {% if 
                                    users[client.id].signed == true
                                    and users[client.id].emailVerified == true 
                                    and users[client.id].phoneVerified == true
                                    and client.validated == true
                                %}
                                <span class="badge bg-success">Entréprise validée</span><br>
                                {% endif %}
                                
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <form  method="POST" style="display:inline; margin-right:5px" title="Supprimer" action="{{ path('app_user_delete_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir supprimer cette entréprise ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
                                </form>
                                {# <a href="#" class="btn btn-primary" title="Modifier"><i class="align-middle" data-feather="edit"></i></a> #}
                                <a href="{{ path('app_user_client_detail', {'id': client.id}) }}" class="btn btn-info" title="Voir"><i class="align-middle" data-feather="eye"></i></a>
                                {% if client.validated != true %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Valider" action="{{ path('app_user_validate_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir valider cette entréprise ?')" type="submit" class="btn btn-success"><i class="align-middle" data-feather="check"></i></button>
                                </form>
                                {% else %}
                                <form  method="POST" style="display:inline; margin-right:5px" title="Bloquer" action="{{ path('app_user_unvalidate_client', {'id': client.id}) }}">
                                    <button onclick="return confirm('Etes-vous sûr de vouloir bloquer cette entréprise ?')" type="submit" class="btn btn-danger"><i class="align-middle" data-feather="x"></i></button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
