{% extends 'admin/base.html.twig' %}

{% block title %}Factures Entréprises{% endblock %}

{% 
    set months = [
        'Janvier',
        'Février',
        'Mars',
        'Avril',
        'Mai',
        'Juin',
        'Juillet',
        'Août',
        'Septembre',
        'Octobre',
        'Novembre',
        'Decembre',
    ]   
 %}

{% block body %}

<style></style>

<div style="
    display: flex;
    align-items: center;
    justify-content: space-between;
">
    <h1 class="h3 mb-3" style="
    display: inline-block;
    margin-bottom: 0 !important
">Factures Entréprises</h1>
</div>
<hr>
<br>

<div class="row">
    {% for message in app.flashes('success') %}
    <div class="alert alert_success" style="animation-delay: .2s">
        <div class="alert--content">
            {{ message }}
        </div>
        <div class="alert--close">
            <i class="far fa-times-circle"></i>
        </div>
    </div>
    </br>
    {% endfor %}


    <ul class="container__list">
        <li class="container__item container__item_active">
        <span class="container__link">Tous</span>
        </li>
        <li class="container__item">
        <span class="container__link">Factures Payées</span>
        </li>
        <li class="container__item">
        <span class="container__link">Factures non payées</span>
        </li>
    </ul>
    <div class="container__inner">
        <div class="row">
            {% for invoice in all %}
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{ path('app_client_web_invoice_detail', {'id': invoice.id})}}"  class='contract-card-link'> 
                        <div class="card contract-card">
                            <div class="card-header" style="display:flex; align-items:center">
                                <div style="display:inline-block;margin-left:10px">
                                    <h5 class="card-title mb-0" style="">{{ "Facture - " ~ invoice.code }}</h5>
                                    <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ invoice.date | date('d/m/Y') }}</p>
                                    <p class="mb-0" style="font-size:15px; font-weight:bold">{{ invoice.user.client.name }}</p>
                                </div>
                            </div>
                            <div class="card-body" style="padding-top:0">
                                <hr style="opacity:0.1; margin-top:0">
                                <div style="cursor:pointer; position:relative; display:flex;justify-content: space-between; align-items:center">
                                    <div>
                                        <h4 class="mb-0" style="display:inline; font-weight:bold">{{ invoice.total ~ "$" }}</h4>
                                    </div>
                                    <div style="display:flex">
                                        {% if invoice.paid %}
                                        <div class="status-box approuved small">Payé</div> 
                                        {% else %}                                           
                                        <div class="status-box waiting small">En attente du paiement</div>                                            
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container__inner container__inner_hidden">
        <div class="row">
            {% for invoice in paid %}
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{ path('app_client_web_invoice_detail', {'id': invoice.id})}}"  class='contract-card-link'> 
                        <div class="card contract-card">
                            <div class="card-header" style="display:flex; align-items:center">
                                <div style="display:inline-block;margin-left:10px">
                                    <h5 class="card-title mb-0" style="">{{ "Facture - " ~ invoice.code }}</h5>
                                    <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ invoice.date | date('d/m/Y') }}</p>
                                    <p class="mb-0" style="font-size:15px; font-weight:bold">{{ invoice.user.client.name }}</p>
                                </div>
                            </div>
                            <div class="card-body" style="padding-top:0">
                                <hr style="opacity:0.1; margin-top:0">
                                <div style="cursor:pointer; position:relative; display:flex;justify-content: space-between; align-items:center">
                                    <div>
                                        <h4 class="mb-0" style="display:inline; font-weight:bold">{{ invoice.total ~ "$" }}</h4>
                                    </div>
                                    <div style="display:flex">
                                        {% if invoice.paid %}
                                        <div class="status-box approuved small">Payé</div> 
                                        {% else %}                                           
                                        <div class="status-box waiting small">En attente du paiement</div>                                            
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container__inner container__inner_hidden">
        <div class="row">
            {% for invoice in wait %}
            <div class="col-12 col-md-6 col-lg-3">
                <a href="{{ path('app_client_web_invoice_detail', {'id': invoice.id})}}"  class='contract-card-link'> 
                    <div class="card contract-card">
                        <div class="card-header" style="display:flex; align-items:center">
                            <div style="display:inline-block;margin-left:10px">
                                <h5 class="card-title mb-0" style="">{{ "Facture - " ~ invoice.code }}</h5>
                                <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ invoice.date | date('d/m/Y') }}</p>
                                <p class="mb-0" style="font-size:15px; font-weight:bold">{{ invoice.user.client.name }}</p>
                            </div>
                        </div>
                        <div class="card-body" style="padding-top:0">
                            <hr style="opacity:0.1; margin-top:0">
                            <div style="cursor:pointer; position:relative; display:flex;justify-content: space-between; align-items:center">
                                <div>
                                    <h4 class="mb-0" style="display:inline; font-weight:bold">{{ invoice.total ~ "$" }}</h4>
                                </div>
                                <div style="display:flex">
                                    {% if invoice.paid %}
                                    <div class="status-box approuved small">Payé</div> 
                                    {% else %}                                           
                                    <div class="status-box waiting small">En attente du paiement</div>                                            
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
