<!DOCTYPE html>
<html lang="en">

<head>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="QuickDep &amp; Tableau de bord"
    />
    <meta name="author" content="QuickDep" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="{{ asset('web/assets/favicon.png') }}" />


    <title>QuickDep | {% block title %}{% endblock %}</title>

    <link href="{{asset('clientweb/css/app.css')}}" rel="stylesheet" />
    <link href="{{asset('clientweb/css/signature.css')}}" rel="stylesheet" />
    <link href="{{asset('clientweb/alerts/css/alerts-css.min.css')}}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" 
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" 
        crossorigin="anonymous"
     >
     <style>
      .wrapper{
        display: inline-flex;
        background: #fff;
        height: 100px;
        align-items: center;
        justify-content: space-evenly;
      }
      .wrapper .option{
        background: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 10px;
        border: 2px solid lightgrey;
        transition: all 0.3s ease;
      }
      .wrapper .option .dot{
        height: 20px;
        width: 20px;
        background: #d9d9d9;
        border-radius: 50%;
        position: relative;
      }
      .wrapper .option .dot::before{
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #29216B;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.3s ease;
      }
      input[type="radio"]{
        display: none;
      }
      #option-1:checked:checked ~ .option-1,
      #option-2:checked:checked ~ .option-2{
        border-color: #29216B;
        background: #29216B;
      }
      #option-1:checked:checked ~ .option-1 .dot,
      #option-2:checked:checked ~ .option-2 .dot{
        background: #fff;
      }
      #option-1:checked:checked ~ .option-1 .dot::before,
      #option-2:checked:checked ~ .option-2 .dot::before{
        opacity: 1;
        transform: scale(1);
      }
      .wrapper .option span{
        font-size: 20px;
        color: #808080;
      }
      #option-1:checked:checked ~ .option-1 span,
      #option-2:checked:checked ~ .option-2 span{
        color: #fff;
      }

      ol li {
        margin-bottom: 10px
      }

      .button {
        position: relative;
        padding: 8px 16px;
        background: #29216B;
        border: none;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        font-family: var(--bs-btn-font-family);
      }

      .button:active {
        background: #29216B;
      }

      .button__text {
        color: #ffffff;
        transition: all 0.2s;
      }

      .button--loading .button__text {
        visibility: hidden;
        opacity: 0;
      }

      .button--loading::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 2px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
      }

      form.opt-form input{
        display:inline-block;
        width:50px;
        height:50px;
        text-align:center;
        margin-left:10px;
      }

      form.opt-form {
        text-align:center;
      }

      @keyframes button-loading-spinner {
        from {
          transform: rotate(0turn);
        }

        to {
          transform: rotate(1turn);
        }
      }
     </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script>
      let digitValidate = function(ele){
        console.log(ele.value);
        ele.value = ele.value.replace(/[^0-9]/g,'');
      }

      let tabChange = function(val){
          let ele = document.querySelectorAll('form.opt-form input');
          if(ele[val-1].value != ''){
            ele[val].focus()
          }else if(ele[val-1].value == ''){
            ele[val-2].focus()
          }   
      }
    </script>
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						{% block body %}{% endblock %}

					</div>
				</div>
			</div>
		</div>
	</main>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
	<script src="{{asset('clientweb/js/app.js')}}"></script>
	<script src="{{asset('clientweb/alerts/js/alerts.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <script>
        
        let paiement1 = document.getElementById("option-1")
        let paiement2 = document.getElementById("option-2")
        
        let paiement1Box = document.getElementById("paiement1_box")
        let paiement2Box = document.getElementById("paiement2_box")

        if (paiement1 != null) {
            paiement1.addEventListener('change', function() {
                if (this.checked) {
                    paiement1Box.style.display = "block"
                    paiement2Box.style.display = "none"
                } else {
                    paiement1Box.style.display = "none"
                    paiement2Box.style.display = "block"
                }
            });
        }

        if (paiement2 != null) {
            paiement2.addEventListener('change', function() {
                if (this.checked) {
                    paiement2Box.style.display = "block"
                    paiement1Box.style.display = "none"
                } else {
                    paiement2Box.style.display = "none"
                    paiement1Box.style.display = "block"
                }
            });
        }

      const phone = document.getElementById("register_form_phone");

        if (phone != null) {
        phone.oninput = (e) => {
          if (e.target.value.length < 18) {
            e.target.value = autoFormatPhoneNumber(e.target.value, e);
          } else {
            e.target.value = e.target.value.slice(0, -1);
          }
        };
        }

        function autoFormatPhoneNumber(phoneNumberString, e) {
          try {
            var cleaned = ("" + phoneNumberString).replace(/\D/g, "");
            var match = cleaned.match(/^(1|)?(\d{0,3})?(\d{0,3})?(\d{0,4})?$/);
            var intlCode = match[1] ? "+1 " : "+1 ";
            return [
              intlCode,
              match[2] ? "(" : "",
              match[2],
              match[3] ? ") " : "",
              match[3],
              match[4] ? "-" : "",
              match[4],
            ].join("");
          } catch (err) {
            e.stopPropagation()
            return '';
          }
        }

      let chars = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
      let ints = ['1','2','3','4','5','6','7','8','9']

      const codePostal = document.getElementById("register_form_zipcode");

      if (codePostal != null) {
      codePostal.oninput = (e) => {
        let value = e.target.value
        if (value.length == 3) {
           e.target.value = e.target.value + " " 
        }
        
        if (value.length == 2 || value.length == 5 || value.length == 7) {
          if (
            !isInt(value.charAt(value.length - 1))
          ) {
            e.target.value = value.slice(0, -1);
          }
        }
        
        if (value.length == 1 || value.length == 3 || value.length == 6) {
          if (
            !isChar(value.charAt(value.length - 1))
          ) {
            e.target.value = value.slice(0, -1);
          }
        }

        if (e.target.value.length < 8) {
        } else {
          e.target.value = e.target.value.slice(0, -1);
        }
      };
      }

      function isChar(char) {
        for(var i = 0; i < chars.length; i++) {
          if (char == chars[i]) {
            return true;
          }
        }
        return false;
      }

      function isInt(intV) {
        for(var i = 0; i < ints.length; i++) {
          if (intV == ints[i]) {
            return true;
          }
        }
        return false;
      }

      let diffFacture = document.getElementById("diffFacture")
      let factureAddress = document.getElementById("factureAddress")

      if (diffFacture != null) {
          diffFacture.addEventListener('change', function() {
              if (this.checked) {
                  factureAddress.style.display = "block"
              } else {
                  factureAddress.style.display = "none"
              }
          });
      }
     </script>

    {% if user is defined and user != null and user.client != null %}
    <script>
      const wrapper = document.getElementById("signature-pad");
      if (wrapper != null) {
        const clearButton = wrapper.querySelector("[data-action=clear]");
        const savePNGButton = document.querySelector("[data-action=save-png]");
        const canvas = wrapper.querySelector("canvas");
        const signaturePad = new SignaturePad(canvas, {
          backgroundColor: 'rgb(255, 255, 255)'
        });

        function resizeCanvas() {
          const ratio =  Math.max(window.devicePixelRatio || 1, 1);

          canvas.width = canvas.offsetWidth * ratio;
          canvas.height = canvas.offsetHeight * ratio;
          canvas.getContext("2d").scale(ratio, ratio);

          signaturePad.fromData(signaturePad.toData());
        }

        window.onresize = resizeCanvas;
        resizeCanvas();

        async function download(dataURL, filename) {
          const domaineName = 'https://api-qd-22-m.quickdep.ca'
          // const domaineName = 'http://localhost:8000'
          const blob = dataURLToBlob(dataURL);
          const url = window.URL.createObjectURL(blob);

          let request = await axios.post(domaineName + '/api/user_contracts/' + {{ user.usercontract.id }} + '/sign', {
            signature: blob
          }, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }).then((response) => {
              if (response.data.success) {
                {% if profile is defined and profile == 1 %}
                  window.location.replace(domaineName + "/entreprise/profile");
                {% else %}
                  window.location.replace(domaineName + "/entreprise");
                {% endif %}

              }
          });

            window.URL.revokeObjectURL(url);
          }

        function dataURLToBlob(dataURL) {
          const parts = dataURL.split(';base64,');
          const contentType = parts[0].split(":")[1];
          const raw = window.atob(parts[1]);
          const rawLength = raw.length;
          const uInt8Array = new Uint8Array(rawLength);

          for (let i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
          }

          return new Blob([uInt8Array], { type: contentType });
        }

        clearButton.addEventListener("click", () => {
          signaturePad.clear();
        });

        savePNGButton.addEventListener("click", () => {
          if (signaturePad.isEmpty()) {
            alert("Vous devez signer avant d'enrégistrer.");
          } else {
            savePNGButton.classList.add('button--loading')
            const dataURL = signaturePad.toDataURL();
            download(dataURL, "signature.png");
          }
        });
      }
    </script>
    {% endif %}
</body>

</html>