<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="QuickDep &amp; Tableau de bord"
    />
    <meta name="author" content="QuickDep" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="{{ asset('web/assets/favicon.png') }}" />


    <title>QuickDep | {% block title %}{% endblock %}</title>

    <link href="{{asset('clientweb/css/app.css')}}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link href="{{asset('clientweb/alerts/css/alerts-css.min.css')}}" rel="stylesheet" />

    <link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" 
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" 
        crossorigin="anonymous"
     >

     <style>
        .contract-card.disabled {
            
        }
        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        .contract-card.disabled:hover {
            border: none;
        }
        .contract-card:hover {
            border: 1px solid #29216B;
        }
        .contract-card-link:hover {
            text-decoration:none;
            color:inherit;
        }
        .btn {
            padding: 10px 20px;
        }
        .btn.small {
            padding: 5px 10px;
        }
        .status-box {
            border-radius: 30px;
            padding: 10px 20px;
        }
        .status-box.small {
            font-size: 12px;
            font-weight: bold;
            border-radius: 20px;
            padding: 5px 10px;
        }
        .status-box.waiting {
            background-color: #fae7c0;
            color:  orange;
        }
        .status-box.approuved {
            background-color: #c0fad0;
            color:  green;
        }
        .status-box p {
            margin: 0;
            font-weight:bold
        }
        .apply-card {
            padding-right:20px
        }
        .apply-card:last-child {
            padding-right:0
        }
        .apply-card > div{
            padding:10px;
            border-radius:10px;
            border: 1px solid #ccc;
        }
        .apply-card > div > div{
            display: flex;
            justify-content:space-between;
        }
        .ex-class {
            font-size:10px; 
            font-weight:bold;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 3px 10px;
            display: inline-block !important;
            margin-right: 10px
        }
     </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>

  <body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="#">
            <span class="align-middle">QuickDep | Entreprise</span>
          </a>

          <ul class="sidebar-nav">
            <li class="sidebar-header">Contrats</li>

            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_home' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_home') }}">
                <i class="align-middle" data-feather="list"></i>
                <span class="align-middle">Publiés</span>
              </a>
            </li>

            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_contract_waiting' ? 'active': '' }}">
              <a class="sidebar-link " href="{{ path('app_client_web_contract_waiting') }}">
                <i class="align-middle" data-feather="clock"></i>
                <span class="align-middle">En attente d'approbation</span>
              </a>
            </li>

            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_contract_approuved' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_contract_approuved') }}">
                <i class="align-middle" data-feather="check-circle"></i>
                <span class="align-middle">Approuvés</span>
              </a>
            </li>

            <li class="sidebar-header">Feuilles de temps</li>

            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_timesheet' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_timesheet') }}">
                <i class="align-middle" data-feather="clock"></i>
                <span class="align-middle">À valider</span>
              </a>
            </li>

            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_timesheet_approuved' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_timesheet_approuved') }}">
                <i class="align-middle" data-feather="check-circle"></i>
                <span class="align-middle">Approuvées</span>
              </a>
            </li>

            <li class="sidebar-header">Factures</li>

            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_invoice' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_invoice') }}">
                <i class="align-middle" data-feather="credit-card"></i>
                <span class="align-middle">À payer</span>
              </a>
            </li>

            <li class="sidebar-itemm {{ app.request.get('_route') == 'app_client_web_invoice_paid' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_invoice_paid') }}">
                <i class="align-middle" data-feather="check-circle"></i>
                <span class="align-middle">Payées</span>
              </a>
            </li>

            <li class="sidebar-header">Compte</li>

            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_home_profile' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_home_profile') }}">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Profil</span>
              </a>
            </li>
            <li class="sidebar-item {{ app.request.get('_route') == 'app_client_web_home_contact' ? 'active': '' }}">
              <a class="sidebar-link" href="{{ path('app_client_web_home_contact') }}">
                <i class="align-middle" data-feather="phone"></i>
                <span class="align-middle">Nous contacter</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>

          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <i class="align-middle" data-feather="settings"></i>
                </a>

                <a
                  class="nav-link dropdown-toggle d-none d-sm-inline-block"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <img
                    src="{{ app.session.get('user').imagePath == null ? asset('clientweb/img/logo.png') : asset('users/images/'~app.session.get('user').imagePath)}}"
                    class="avatar img-fluid rounded me-1"
                    alt="{{ app.session.get('user').client.name }}"
                  />
                  <span class="text-dark">{{app.session.get('user').client.name}} - {{app.session.get('user').client.owner}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="{{ path('app_client_web_home_profile') }}"
                    ><i class="align-middle me-1" data-feather="user"></i>
                    Profil</a
                  >
                  <div class="dropdown-divider"></div>
                    <form  method="POST" style="display:inline" action="{{ path('logout') }}">
                        <button type="submit" class="dropdown-item">Se decconecter</button>
                    </form>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <main class="content">

        {% if app.session.get('user').emailVerified != true %}
            <div class="alert alert_danger" data-fade-time="3">
              <div class="alert--content" style="display:flex;align-items: center;justify-content: space-between;">
                <span>Veuillez vérifier votre adresse E-mail</span>
                <form  method="POST" style="display:inline" action="{{ path('mailVerif') }}">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Un mail sera envoyé à votre adresse e-mail avec un code de vérification. Voulez vous continuer')">Vérifier maintenant</button>
                </form>
              </div>
            </div>
            <br>
        {% endif %}

        {% if app.session.get('user').phoneVerified != true %}
            <div class="alert alert_danger" data-fade-time="3">
              <div class="alert--content" style="display:flex;align-items: center;justify-content: space-between;">
                <span>Veuillez vérifier votre numéro de téléphone</span> 
                <form  method="POST" style="display:inline" action="{{ path('phoneVerif') }}">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Un SMS sera envoyé à votre adresse numéro de téléphone avec un code de vérification. Voulez vous continuer')">Vérifier maintenant</button>
                </form>
              </div>
            </div>
            <br>
        {% endif %}
        {% if app.session.get('user').signed != true %}
            <div class="alert alert_danger" data-fade-time="3">
              <div class="alert--content" style="display:flex;align-items: center;justify-content: space-between;">
                  <span>Veuillez signer le contrat de facturation</span> <a href="{{ path("app_client_web_auth_contract", {'profile': 1}) }}" class="btn btn-danger" style="margin-left:10px">Signer maintenant</a>
              </div>
            </div>
            <br>
        {% endif %}
        {% if app.session.get('user').emailVerified == true 
            and app.session.get('user').phoneVerified == true 
            and app.session.get('user').signed == true
            and app.session.get('user').client.validated != true 
        %}
            <div class="alert alert_warning" data-fade-time="3">
              <div class="alert--content">
                <b>En cours de validation</b><br>
                Votre compte est en cours de validation. Un email de validation vous sera envoyé dans les prochaines 24h, vous notifiant du résultat de la validation. Si vous ne recevez par l’email veuillez nous contacter. 
                <hr>
                Pour l'instant vous ne pouvez pas encore publier de contrat, une fois le compte validé vous pourrez le faire. Merci de patienter
              </div>
            </div>
            <br>
        {% endif %}
          {% for message in app.flashes('success') %}
          <div class="alert alert_success" style="animation-delay: .2s" data-fade-time="3">
              <div class="alert--content">
                  {{ message }}
              </div>
              <div class="alert--close">
                  <i class="far fa-times-circle"></i>
              </div>
          </div>
          </br>
          {% endfor %}
          {% for message in app.flashes('error') %}
          <div class="alert alert_danger" style="animation-delay: .2s" data-fade-time="3">
              <div class="alert--content">
                  {{ message }}
              </div>
              <div class="alert--close">
                  <i class="far fa-times-circle"></i>
              </div>
          </div>
          </br>
          {% endfor %}
          <div class="container-fluid p-0">
            {% block body %}{% endblock %}  
          </div>
        </main>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ asset('clientweb/js/app.js') }}"></script>
	  <script src="{{asset('clientweb/alerts/js/alerts.min.js')}}"></script>
    <script>
      
      let diffAdress = document.getElementById("diffAdress")
      let newAddress = document.getElementById("newAddress")
      
      let clothCheck = document.getElementById("clothCheck")
      let clothDiv = document.getElementById("clothDiv")

      let editTimeSheetBtn = document.getElementById("edit-time-sheet-btn")
      let subminTsBtn = document.getElementById("time_sheet_submit")

      let tsStartdate = document.getElementById("time_sheet_startdate")
      let tsEnddate = document.getElementById("time_sheet_enddate")
      let tsPause = document.getElementById("time_sheet_pause")
      let tsDiff = document.getElementById("tsDiff")

      if (diffAdress != null) {
          diffAdress.addEventListener('change', function() {
              if (this.checked) {
                  newAddress.style.display = "block"
              } else {
                  newAddress.style.display = "none"
              }
          });
      }

      if (clothCheck != null) {
          clothCheck.addEventListener('change', function() {
              if (this.checked) {
                  clothDiv.style.display = "block"
              } else {
                  clothDiv.style.display = "none"
              }
          });
      }

      if (editTimeSheetBtn != null) {
          editTimeSheetBtn.addEventListener('click', function(e) {
              e.preventDefault()
              
              subminTsBtn.style.display = "inline-block"
              this.style.display = "none"
              tsStartdate.removeAttribute('readonly')
              tsEnddate.removeAttribute('readonly')
          });
      }

      if (tsStartdate != null) {
          tsStartdate.addEventListener('change', function(e) {
              changeDiff()
          });
      }

      if (tsEnddate != null) {
          tsEnddate.addEventListener('change', function(e) {
              changeDiff()
          });
      }

      if (tsPause != null) {
          tsPause.addEventListener('change', function(e) {
              changeDiff()
          });
      }

      function changeDiff() {
        let startDate = Date.parse('2023-01-01T' + tsStartdate.value + ':00')
        let endDate = Date.parse('2023-01-01T' + tsEnddate.value + ':00')

        const index = tsPause.selectedIndex

        let pause = tsPause.options[index].text

        let sDate = new Date(startDate)
        let eDate = new Date(endDate)

        let diffInMillis = eDate.getTime() - sDate.getTime();

        if (pause != 'Pas de pause') {
          diffInMillis = diffInMillis - (parseInt(pause.replace('min', '')) * 60 * 1000);
        }
        const diffInHours = Math.floor(diffInMillis / 3600000);
        const diffInMinutes = Math.round((diffInMillis % 3600000) / 60000);
                        
        const formattedHours = diffInHours.toString().padStart(2, '0');
        const formattedMinutes = diffInMinutes.toString().padStart(2, '0');

        let diff = formattedHours + "H" + formattedMinutes
        tsDiff.innerText = diff
      }
      
      // FILE UPLOAD

      {% if user is defined %}
      var inputs = document.querySelectorAll( '.inputfile' );
      Array.prototype.forEach.call( inputs, function( input )
      {
        var label	 = input.nextElementSibling,
          labelVal = label.innerHTML;

        input.addEventListener( 'change', async function( e )
        {
          var fileName = '';
          if( this.files && this.files.length > 1 ) {
            fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
          } else {
            fileName = e.target.value.split( '\\' ).pop();
            let preview = document.getElementById('img-prev')
            var src = URL.createObjectURL(event.target.files[0]);

            const domaineName = 'https://quickdep.ca'
            // const domaineName = 'http://localhost:8000'

            if (isFileImage(event.target.files[0])) {
              let request = await axios.post(domaineName + '/api/users/' + {{ user.id }} + '/image', {
                image: event.target.files[0]
              }, {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }).then((response) => {
                  if (response.data.success) {
                    {% if profile is defined and profile == 1 %}
                      window.location.replace(domaineName + "/entreprise/profile");
                    {% else %}
                      window.location.replace(domaineName + "/entreprise");
                    {% endif %}

                  }
                  preview.src = src;
              });
            } else {
              alert("Format du fichier invalide")
            }
          }
          
        });
      });
        
      {% endif %}

      function isFileImage(file) {
          return file && file['type'].split('/')[0] === 'image';
      }
    </script>
  </body>
</html>