{# templates/components/Alert.html.twig #}
<div class="col-12 col-md-6 col-lg-3">
    <a href="{{ path(path, {'id': contract.id})}}"  class='contract-card-link'>
    <div class="card contract-card" style="cursor:pointer">
        <div class="card-header" style="display:flex">
            <img
                src="{{asset(image)}}"
                class="avatar img-fluid rounded me-1"
                alt="{{ title }}"
                style="width:60px; height:60px"
            />
            <div style="display:inline-block;margin-left:10px">
                {% if app.session.get('type') == 'admin' %}
                <h5 class="mb-0" style="font-size:20px; font-weight:bold">{{ client }}</h5>
                {% endif %}
                <h5 class="card-title mb-0" style="">{{ title }}</h5>
                <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ contract.code }}</p>
            </div>
        </div>
        <div class="card-body" style="padding-top:0">
            <div class="mb-2" style="display:flex">
                <i class="align-middle" data-feather="calendar" style="{{ today ? 'color:red':''}}"></i>
                <h5 class="mb-0" style="display:inline; margin-left:10px;; font-size:13px; {{ today ? 'color:red;': ''}}">{{ date }}</h5>
            </div>
            <div style="display:flex; align-items:end; justify-content:space-between">
                <div>
                    <div style="display:flex">
                        <i class="align-middle" data-feather="clock"></i>
                        <h5 style="display:inline; margin-left:10px; font-size:13px">{{ hours }}</h5>
                    </div>
                </div>
                {% if consecutive %}
                <div class="btn-success btn " style="padding:5px 10px;color:white;border-radius:20px; font-size:10px">
                    <p style="margin:0">Shifts Consécutifs</p>
                </div>
                {% endif %}
            </div>
            
                <hr style="opacity:0.1">
            <div style="cursor:pointer; position:relative; display:flex;justify-content: space-between;">
                <div>
                    <h4 class="mb-0" style="display:inline; font-weight:bold">{{ rate }}</h4>
                    <h6 class="mb-0" style="display:inline; color:green; font-weight:bold">{{ bonus }}</h6>
                </div>
                {% if applied %}
                <div style="display:flex">
                    <i class="align-middle" data-feather="clock" style="color:orange; margin-right:10px"></i>
                    <i class="align-middle" data-feather="users" style="margin-right:5px"></i>
                    <p style="margin:0">{{ contract.getAppliesCount }}</p>
                </div>
                {% endif %}
                {% if approuved %}
                <div style="display:flex">
                    <i class="align-middle" data-feather="check-circle" style="color:green; margin-right:10px"></i>
                </div>
                {% endif %}
            </div>
            
        </div>
    </div>
    </a>
</div>