<div class="card">
        <div class="card-header">
        <h5 class="card-title mb-0">Detail du contrat</h5>
        </div>
        <div class="card-body">
            <div style="display:flex; align-items:center">
                <div style="display:flex; align-items:center">
                    <img
                        src="{{asset('users/images/'~image)}}"
                        class="avatar img-fluid rounded me-1"
                        alt="{{ client }}"
                        style="width:60px !important;height:60px"
                    />
                    <div style="display:inline-block;margin-left:10px">
                        {% if app.session.get('type') == 'admin' %}
                        <h5 class="mb-0" style="font-size:20px; font-weight:bold">{{ client }}</h5>
                        {% endif %}
                        <h5 class="card-title mb-0" style="">{{ title }}</h5>
                        <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ contract.code }}</p>
                    </div>
                    {% if consecutive %}
                    <div class="btn-success btn " style="padding:5px 10px;color:white;border-radius:20px; font-size:14px; margin-left:20px">
                        <p style="margin:0">Shifts Consécutifs</p>
                    </div>
                    {% endif %}
                </div>
                {% if applied %}
                <div style="display:flex; margin-left: 30px">
                    <i class="align-middle" data-feather="clock" style="color:orange; margin-right:10px"></i>
                    <i class="align-middle" data-feather="users" style="margin-right:5px"></i>
                    <p style="margin:0">{{ contract.getAppliesCount }}</p>
                </div>
                <div style="display:flex; margin-left: 30px" class="status-box waiting">
                    <p>En attente d'approbation</p>
                </div>
                {% endif %}
                {% if contract.status == 'contract_approuved' %}
                <div style="display:flex; margin-left: 30px">
                    <i class="align-middle" data-feather="check-circle" style="color:green; margin-right:10px"></i>
                </div>
                <div style="display:flex; margin-left: 30px" class="status-box approuved">
                    <p>{{ status }}</p>
                </div>
                {% endif %}
            </div>
            <hr style="opacity:0.1">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                        {{ today ? 'color:red': '' }}
                    ">Date</p>                    
                    <p style="{{ today ? 'color:red': '' }}">{{ date }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Heures</p>                    
                    <p>{{ hours }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Pause</p>                    
                    <p>{{ pause }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Stationnement</p>                    
                    <p>{{ parking }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Adresse</p>                    
                    <p>{{ address }}</p>
                </div>
                {% if contract.cloth != null %}
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Ténue exigée</p>                    
                    <p>{{ contract.cloth }}</p>
                </div>
                {% endif %}
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Description</p>                    
                    <p>{{ contract.description ?? 'Pas de description' }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p style="
                        font-weight: bold;
                        margin-bottom: 5px;
                    ">Taux horraire</p>    
                    
                    <div>
                        <h4 class="mb-0" style="display:inline; font-weight:bold">{{ rate }}</h4>
                        <h6 class="mb-0" style="display:inline; color:green; font-weight:bold">{{ bonus }}</h6>
                    </div>                
                </div>
            </div>

            {% if contract.getAppliesCount > 0 and contract.status == 'contract_published' %}
            <hr style="opacity:0.1">
            <p style="
                font-weight: bold;
                margin-bottom: 5px;
            ">Candidats</p>  
            <div class="row">
                {% for apply in contract.applies %}

                {{ component('EmployeeCard', {employee: apply.user, contract: contract}) }}

                {% endfor %}
            </div>
            {% endif %}

            {% if contract.status == 'contract_approuved' %}
            <hr style="opacity:0.1">
            <p style="
                font-weight: bold;
                margin-bottom: 5px;
            ">Employé</p>  
            <div class="row">
                {% if contract.employee == null %}
                    <h4 class="mb-0" style="color:red; font-weight:bold">Utilusateur supprimé</h4>
                {% else %}
                    {{ component('EmployeeCard', {employee: contract.employee, contract: contract}) }}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>