
<div class="apply-card col-md-4">
    <div>
        <div style="margin-bottom:10px">
            <div style="display:flex;align-items:center">
                <img
                    src="{{asset('users/images/'~image)}}"
                    class="avatar img-fluid rounded me-1"
                    alt="{{ name }}"
                    style="width:50px !important;height:50px;object-fit: cover"
                />
                <div style="display:inline-block;margin-left:10px">
                    <h5 class="card-title mb-0" style="">{{ name }}</h5>
                    {% if showDetails %}
                    <p class="mb-0" style="display:inline;font-size:11px; font-weight:bold">{{ email }}</p>
                    <p class="mb-0" style="font-size:11px; font-weight:bold">{{ phone }}</p>
                    {% endif %}
                    <p class="card-title mb-0 text-success" style="font-size:13px">{{ applyStatus }}</p>
                </div>
            </div>
        </div>
        <hr style="
            margin: 5px 0;
            opacity: .1;
        ">
        <div class="row" style="text-align:center; font-size:10px;">
            <div class="col-4">
                <p style="opacity:.7; margin:0">Complétés</p>
                <p style="font-weight:bold; font-size:13; margin-bottom:5px">{{ stats.completed }}</p>
            </div>
            <div class="col-4">
                <p style="opacity:.7; margin:0">Annulés</p>
                <p style="font-weight:bold; font-size:13; margin-bottom:5px">{{ stats.canceled }}</p>
            </div>
            <div class="col-4">
                <p style="opacity:.7; margin:0">Absences</p>
                <p style="font-weight:bold; font-size:13; margin-bottom:5px">{{ stats.notWorked }}</p>

            </div>
        </div>
        {% for experience in experiences %}
            <div class="ex-class">
                <div>{{ experience.title }} | {{ experience.time }}</div>
            </div>
        {% endfor %} 
        {% if contract.status == 'contract_published' %}
            <form  method="POST" style="display:inline" action="{{ path('app_client_web_contract_confirm', {'user_id': contract.employee.id, 'contract_id': contract.id}) }}">
                <button type="submit" onclick="return confirm('Etes-vous sûr de vouloir attribuer ce shift à cet travailleur ?')" type="submit" style="display:block; margin-top:10px; padding: 5px 15px; width:100%" class="btn btn-primary">Approuver</button>
            </form>
        {% endif %}
        {% if contract.status == 'contract_approuved' %}
            <form  method="POST" style="display:inline" action="{{ path('app_client_web_contract_cancel', {'user_id': contract.employee.id, 'contract_id': contract.id}) }}">
                <button type="submit" onclick="return confirm('Etes-vous sûr de vouloir rétirer ce shift à cet travailleur ?')" type="submit" style="display:block; margin-top:10px; padding: 5px 15px; width:100%" class="btn btn-danger">rétirer</button>
            </form>
        {% endif %}
    </div>
</div>