<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>QuickDep</title>
		<link
		rel="icon" type="image/x-icon" href="{{ asset('web/assets/favicon.png') }}"/>
		<!-- Bootstrap icons-->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
		<!-- Google fonts-->
		<link rel="preconnect" href="https://fonts.gstatic.com"/>
		<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet"/>
		<link
		href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet"/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="{{ asset('web/css/styles.css') }}" rel="stylesheet"/>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	</head>
	<body
		id="Accueil">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
			<div class="container px-5">
				<a class="navbar-brand fw-bold" href="#Accueil"><img style="width:40px;margin-right:10px" src="{{ asset('web/images/logo.png') }}" alt="logo">
					QuickDep</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

					<i class="bi-list"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
						<li class="nav-item">
							<a class="nav-link me-lg-3" href="#Accueil">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link me-lg-3" href="#A-propos">À propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link me-lg-3" href="#Comment-ça-marche">Comment ça marche</a>
						</li>
						<li class="nav-item">
							<a class="nav-link me-lg-3" href="#Contact">Contact</a>
						</li>
					</ul>
					<a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{ path('app_client_web_auth') }}" style="margin-right:10px">
						<span class="d-flex align-items-center">
							<span class="small">Se connecter</span>
						</span>
					</a>
					<a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{ path('app_client_web_auth_register') }}">
						<span class="d-flex align-items-center">
							<span class="small">S'inscrire</span>
						</span>
					</a>
				</div>
			</div>
		</nav>
		<!-- Mashead header-->
		<header class="masthead" id="home">
			<div class="container px-5">
				<div class="row gx-5 align-items-center">
					<div
						class="col-lg-6">
						<!-- Mashead text and app badges-->
						<div class="mb-5 mb-lg-0 text-center text-lg-start">
							<h1 class="display-1 lh-1 mb-3">Trouvez le travail idéal en quelques clics.</h1>
							<p class="lead fw-normal text-muted mb-5">QuickDep est la clé d'un emploi assuré et l'assurence d'avoir des bons travailleurs!</p>
							<div class="d-flex flex-column flex-lg-row align-items-center">
								<a target="_blank" class="me-lg-3 mb-4 mb-lg-0" href="https://play.google.com/store/apps/details?id=com.dmwema.quickdep_mob&pli=1"><img class="app-badge" src="{{ asset('web/assets/img/google-play-badge.svg') }}" alt="..."/></a>
								<a target="_blank" href="https://apps.apple.com/us/app/quickdep/id6449005697"><img class="app-badge" src="{{ asset('web/assets/img/app-store-badge.svg') }}" alt="..."/></a>
							</div>
						</div>
					</div>
					<div
						class="col-lg-6">
						<!-- Masthead device mockup feature-->
						<div class="masthead-device-mockup">
							<svg class="circle" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
								<defs>
									<linearGradient id="circleGradient" gradienttransform="rotate(45)">
										<stop class="gradient-start-color" offset="0%"></stop>
										<stop class="gradient-end-color" offset="100%"></stop>
									</linearGradient>
								</defs>
								<circle cx="50" cy="50" r="50"></circle>
							</svg>
							<svg class="shape-1 d-none d-sm-block" viewbox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
								<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
								<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect>
							</svg>
							<svg class="shape-2 d-none d-sm-block" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
								<circle cx="50" cy="50" r="50"></circle>
							</svg>
							<div class="device-wrapper">
								<div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
									<div class="screen bg-black">
										<img src="{{ asset('web/images/phone.jpg') }}" style="width:100%" alt="phone">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Quote/testimonial aside-->
		<aside class="text-center bg-gradient-primary-to-secondary">
			<div class="container px-5">
				<div class="row gx-5 justify-content-center">
					<div class="col-xl-8">
						<div class="h2 fs-1 text-white mb-4">"La recherche des Shifts, la selection des travailleurs, la gestion des feuilles de temps et des factures. Le tout embarqué dans une simple application!"</div>
					</div>
				</div>
			</div>
		</aside>
		<!-- ======= About Section ======= -->
		<section id="A-propos" class="about section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h3>
						<span>À propos de nous</span>
					</h3>
					<hr/>
					<p>QuickDep a été fondée en 2023 par une équipe de professionnels passionnés par l'innovation et la technologie.</p>
				</div>

				<div class="row">
					<div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
						<img src="{{ asset('web/images/about.jpg') }}" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
						<h3>Notre mission est de révolutionner le monde du recrutement en offrant une solution rapide, facile et efficace pour les entreprises à la recherche de travailleurs qualifiés et pour les travailleurs à la recherche d'opportunités d'emploi.</h3>
						<p class="fst-italic">
							Nous croyons que notre application QuickDep peut aider à connecter les bons travailleurs aux bonnes entreprises, tout en offrant une expérience utilisateur exceptionnelle.
						</p>
						<ul>
							<li>
								<i class="bi bi-emoji-smile"></i>
								<div>
									<p>Chez QuickDep, nous croyons en l'importance de la transparence, de l'intégrité et de l'empathie. Nous sommes déterminés à offrir une expérience utilisateur exceptionnelle à nos clients, tout en respectant les normes éthiques et en veillant à ce que nos utilisateurs soient traités avec respect et dignité.</p>
								</div>
							</li>
							<li>
								<i class="bi bi-search"></i>
								<div>
									<p>Nous sommes constamment à la recherche de moyens d'améliorer notre application et de répondre aux besoins changeants du marché. Nous sommes déterminés à rester à la pointe de l'innovation technologique et à offrir une solution de placement de travailleurs de qualité supérieure à nos clients.</p>
								</div>
							</li>
						</ul>
						<p>
							Nous avons constaté que le processus de recrutement traditionnel était souvent long, coûteux et inefficace. C'est pourquoi nous avons décidé de créer une application de placement de travailleurs qui simplifie et accélère le processus de recrutement pour les entreprises et les travailleurs.
						</p>
					</div>
				</div>

			</div>
		</section>
		<!-- End About Section -->
		<!-- App features section-->
		<section id="Comment-ça-marche">

				<div class="section-title">
					<h3>
						<span>Comment ça marche</span>
					</h3>
				</div>
			<div class="container px-5">
				<div class="tabs">

					<input type="radio" id="tab1" name="tab-control" checked>
					<input type="radio" id="tab2" name="tab-control">
					<ul>
						<li title="Pour Travailleurs">
							<label for="tab1" role="button">
								<span>Pour Travailleurs</span>
							</label>
						</li>
						<li title="Pour Entréprises">
							<label for="tab2" role="button">
								<span>Pour Entréprises</span>
							</label>
						</li>
					</ul>

					<div class="slider">
						<div class="indicator"></div>
					</div>
					<div class="content">
						<section>
							<div class="container">
								<div class="myprogress">
									<div class="bar"></div>
									<div class="pro1">
										<img src="{{ asset('web/images/1_circle.png') }}">
										<h4>Télécharger l'application</h4>
										<span>Télécharger l'application gratuite QuickDep sur Play Store ou Apple Store</span>
									</div>

									<div class="pro1">
										<img src="{{ asset('web/images/2_circle.png') }}">
										<h4>Configurations</h4>
										<span>
											Installez-vous en quelques minutes, contrôle à la demande et conformité prête à l'emploi</span>
									</div>

									<div class="pro1">
										<img src="{{ asset('web/images/3_circle.png') }}">
										<h4>Acceptez des shift</h4>
										<span>Si le poste vous convient, postulez, pas d'entretien, pas de CV, attendez l'approbation et lancez-vous.</span>
									</div>

									<div class="pro1">
										<img src="{{ asset('web/images/4_circle.png') }}">
										<h4>Terminer le travail</h4>
										<span>Une fois le travail terminé avec succès, Une feuille de temps sera générée et vous devez le remplir puis valider.</span>
									</div>

									<div class="pro1 last">
										<img src="{{ asset('web/images/5_circle.png') }}">
										<h4>Être payé</h4>
										<span>Une fois la feuille de temps declarée et approuvé par l'employeur, le prochain lundi vous serez payé pour tous les shifts de la semaine passée !</span>
									</div>
								</div>
							</div>
						</section>
						<section>
							<div class="container">
								<div class="myprogress">
									<div class="bar"></div>
									<div class="pro1">
										<img src="{{ asset('web/images/1_circle.png') }}">
										<h4>Télécharger l'application</h4>
										<span>Télécharger l'application gratuite QuickDep sur Play Store ou Apple Store</span>
									</div>

									<div class="pro1">
										<img src="{{ asset('web/images/2_circle.png') }}">
										<h4>Configurations</h4>
										<span>
											Installez-vous en quelques minutes, contrôle à la demande et conformité prête à l'emploi</span>
									</div>

									<div class="pro1">
										<img src="{{ asset('web/images/3_circle.png') }}">
										<h4>publier des shift</h4>
										<span>Commencez à publier des shifts, suivez les candidatures des travailleurs et selectionnez le travailleurs</span>
									</div>

									<div class="pro1">
										<img src="{{ asset('web/images/4_circle.png') }}">
										<h4>Approuver feuilles de temps</h4>
										<span>Une fois le travailleurs a complété le shift et declarez la feuille de temps avec succès, vous devez vérifier les informations saisis et approuvé la feuille de temps.</span>
									</div>

									<div class="pro1 last">
										<img src="{{ asset('web/images/5_circle.png') }}">
										<h4>Payer</h4>
										<span>Chaque vendredi vous recevez la facture pour toutes les feuilles de temps approuvées dans la semaine</span>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- App features section-->
		<section id="testimonials" class="section-bg">

				<div class="section-title">
					<h3>
						<span>Témoignages</span>
					</h3>
				</div>
			<div class="testimonials text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="card border-light bg-light text-center">
								<i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
								<div class="card-body blockquote">
									<p class="card-text">Grâce à QuickDep, j'ai pu trouver un emploi temporaire rapidement et facilement. Le processus de candidature était simple et j'ai été contactée par une entreprise en moins de 24 heures. Je recommande vivement cette application pour tous ceux qui cherchent un emploi temporaire au Québec</p>
									<footer class="blockquote-footer">
										<cite title="Source Title">Marie-Claire Tremblay</cite>
									</footer>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="card border-light bg-light text-center">
								<i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
								<div class="card-body blockquote">
									<p class="card-text">QuickDep m'a permis de trouver des emplois temporaires qui correspondaient parfaitement à mes compétences et à mon expérience. J'ai apprécié la facilité d'utilisation de l'application et la rapidité avec laquelle j'ai été mis en contact avec des employeurs potentiels.
									</p>
									<footer class="blockquote-footer">
										<cite title="Source Title">Mathieu Dubois</cite>
									</footer>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="card border-light bg-light text-center">
								<i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
								<div class="card-body blockquote">
									<p class="card-text">QuickDep a été un outil précieux pour notre entreprise. Nous avons pu trouver des travailleurs temporaires qualifiés rapidement et facilement, ce qui nous a permis de répondre à nos besoins en matière de main-d'œuvre de manière efficace. Je recommande vivement QuickDep à toutes les entreprises qui cherchent à embaucher des travailleurs temporaires au Québec.</p>
									<footer class="blockquote-footer">
										<cite title="Source Title">Isabelle Gagnon</cite>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</section>

		<!-- ======= Counts Section ======= -->
		<section id="counts" class="counts">
				<div class="section-title">
					<h3>
						<span>Statistiques</span>
					</h3>
				</div>
				<br>
				<br>
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-3 col-md-6">
						<div class="count-box">
							<i class="bi bi-check-all"></i>
							<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
							<p>Shifts complétés</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 mt-5 mt-md-0">
						<div class="count-box">
							<i class="bi bi-journal-richtext"></i>
							<span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
							<p>Contrats publiés</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
						<div class="count-box">
							<i class="bi bi-calendar-check"></i>
							<span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
							<p>Heures complétées</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
						<div class="count-box">
							<i class="bi bi-people"></i>
							<span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
							<p>Utilisateurs</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Counts Section -->

		<section class="cta" id="download">
			<div class="cta-content">
				<div class="container px-5">
					<h2 class="text-white display-1 lh-1 mb-4" style="text-align:center; font-size:2rem">
						Arrêtez d'attendre.
						<br/>
						Commencez maintenant!
					</h2>
					<div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
						<a target="_blank" class="me-lg-3 mb-4 mb-lg-0" href="https://play.google.com/store/apps/details?id=com.dmwema.quickdep_mob&pli=1"><img class="app-badge" src="{{ asset('web/assets/img/google-play-badge.svg') }}" alt="..."/></a>
						<a target="_blank" href="https://apps.apple.com/us/app/quickdep/id6449005697"><img class="app-badge" src="{{ asset('web/assets/img/app-store-badge.svg') }}" alt="..."/></a>
					</div>
				</div>
			</div>
		</section>
		<section class="section-bg" id="Contact">
				<div class="section-title">
					<h3>
						<span>Nous contacter</span>
					</h3>
				</div>
			<div class="containerz">
				<div class="contentz">
					<div class="left-side">
						<div class="address details">
							<i class="fas fa-map-marker-alt"></i>
							<div class="topic">Adresse</div>
							<div class="text-one">2955 Avenue Maricourt.
							</div>
							<div class="text-two">Quebec, Canada</div>
						</div>
						<div class="phone details">
							<i class="fas fa-phone-alt"></i>
							<div class="topic">Téléphone</div>
							<div class="text-one">+1 (581) 777-1486</div>
						</div>
						<div class="email details">
							<i class="fas fa-envelope"></i>
							<div class="topic">Email</div>
							<div class="text-one">contact@quickdep.ca</div>
							<div class="text-tw">facturation@quickdep.ca</div>
						</div>
					</div>
					<div class="right-side">
						<div class="topic-text">Laissez-nous un message</div>
						<form action="#">
							<div class="input-box">
								<input type="text" placeholder="Entrez votre nom">
							</div>
							<div class="input-box">
								<input type="text" placeholder="Entre votre adresse e-mail">
							</div>
							<div class="input-box message-box">
								<textarea name="message" id="message" cols="30" rows="10" placeholder="Entrez le message"></textarea>
							</div>
							<div class="button">
								<input type="button" value="Envoyer">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>


		<!-- Footer-->
		<footer class="bg-black text-center py-">
			<div class="container px-5">
				<div class="text-white-50 small">
					<div class="py-2">&copy; QuickDep 2023. Tous droits reservés.</div>
				</div>
			</div>
		</footer>
		<!-- Bootstrap core JS-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<!-- Core theme JS-->
		<script src="{{ asset('web/js/scripts.js') }}"></script>
		<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
		<!-- * *                               SB Forms JS                               * *-->
		<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
		<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *--><script src="https://cdn.startbootstrap.com/sb-forms-latest.js"> </script>


		<!-- Vendor JS Files -->
		<script src="{{ asset('web/assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
		<script src="{{ asset('web/assets/vendor/aos/aos.js') }}"></script>
		<script src="{{ asset('web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('web/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
		<script src="{{ asset('web/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
		<script src="{{ asset('web/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
		<script src="{{ asset('web/assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
		<script src="{{ asset('web/assets/vendor/php-email-form/validate.js') }}"></script>

		<!-- Template Main JS File -->
		<script src="{{ asset('web/js/main.jsjs/main.js') }}"></script>
	</body>
</html></body></html>
