{% apply inline_css %}

<style>
	* {
		box-sizing: border-box;
	}
	main {
		padding: 50px 0;
		background: #eee;
		min-height: 100vh;
		color: #000;
	}

	p {
		margin: 0 !important;
	}

	main > .container {
		width: 700px;
		max-width: 90%;
		border-radius: 5px;
		padding: 0;
		margin: 0 auto;
		text-align: center;
	}

	main > .container .top {
		padding: 50px;
		background-color: #29216B;
		color: white;
		background-size: cover;
	}

	.mail-body {
		padding: 30px 40px;
		text-align: left;
		background-color: #f7f7f7;
		margin-bottom: 18px;
	}

	.bottom {
		padding: 30px 40px;
		background-color: #f7f7f7;
	}

	.links {
		text-align: center;
		padding-top: 30px;
		font-size: 13px
	}

	.links a {
		text-decoration: none;
		color: #29216B;
		font-weight: 900
	}


	.amount {
		display: flex;
		align-items: center;
		font-size: 9rem;
		font-weight: bolder;
		opacity: .1;
	}
</style>
<body>
	<main>
		<div class="container">
			<div class="mail-body">
				<div class="amount" style="margin-bottom: -50px; color:green;align-items:center">
					<div class="plus">+</div>
					<div class="taux">{{ contract.bonus }}</div>
					<div class="dol">$</div>
				</div>
				<h3>Salut
					<b>{{ username }},</b>
				</h3>
				<p>Un bonus de
					{{ contract.bonus }}$/heure vient d’être ajouté au shift de
					{{ contract.title }}
					prévu pour le
					<b>{{ contract.date | format_datetime(pattern="eeee dd MMMM yyyy", locale='fr') }}</b>
					de
					<b>{{ contract.startHoure | date('H:i') }}</b>
					à
					<b>{{ contract.endHoure | date('H:i')  }}</b>, chez
					<b>{{ client.name }}</b>.</p>
				<br>
				<p>Veuillez lancer votre application pour avoir plus d'informations et accepter le contrat si cela vous convient.</p>
				<hr>
				<p>Merci d'avoir choisi
					<b>QuickDep</b>
				</p>
			</div>
			<div class="bottom">
				<p>Ceci est un message automatique envoyé par notre serveur.
					<b>Ne repondez pas à ce message!</b>
				</p>
			</div>
			<div class="links">
				Envoyé par
				<a href="http://quickdep.ca" target="_blank">Compagnie QuickDep inc.</a>
				<p>2955 avenue Maricourt, Québec, QC G1W 4T8</p>
			</div>
		</div>

	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>

{% endapply %}
