<style>
	* {
		box-sizing: border-box;
	}
	main {
		padding: 50px 0;
		background: #eee;
		min-height: 100vh;
		color: #000;
	}

	p {
		margin: 0 !important;
	}

	main > .container {
		width: 700px;
		max-width: 90%;
		border-radius: 5px;
		padding: 0;
		margin: 0 auto;
		text-align: center;
	}

	main > .container .top {
		padding: 50px;
		background-color: #29216B;
		color: white;
		background-image: url("{{ email.image('@images/bg_white.png') }}");
		background-size: cover;
	}

	.mail-body {
		padding: 30px 40px;
		text-align: left;
		background-color: #f7f7f7;
		margin-bottom: 18px;
	}

	.bottom {
		padding: 30px 40px;
		background-color: #f7f7f7;
	}

	.links {
		text-align: center;
		padding-top: 30px;
		font-size: 13px
	}

	.links a {
		text-decoration: none;
		color: #29216B;
		font-weight: 900
	}
</style>
<body>
	<main>
		<div class="container">
			<div class="top">
				<div class="img" style="width:80px; height:80px; background-color:white; padding: 15px; border-radius:50%; margin:auto">
					<img src="logo.png" alt="logo" style="width:100%">
				</div>
				<br>
				<h2 style="font-weight:700; margin:0; color:white">
					<b>Slack</b>
					offre un shift au poste de
					<b>plongeur</b>!
				</h2>
			</div>
			<div class="mail-body">
				<h3>Salut
					<b>Daniel Mwema,</b>
				</h3>
				<p>Un shift vient d'être publié chez Slack pour le lundi 26 septembre 2022 de 08h00 à 16h30, payé 20$/h.</p>
				<br>
				<p>Veuillez lancez votre application pour avoir plus d'informations et accepter le contrat si cela vous convient.</p>
				<hr>
				<p>Merci d'avoir choisi
					<b>QuickDep</b>
				</p>
			</div>
			<div class="bottom">
				<p>Ceci est un message automatique envoyé par notre serveur.
					<b>Ne repondez pas à ce message!</b>
				</p>
			</div>
			<div class="links">
				Envoyé par
				<a href="http://quickdep.ca" target="_blank">Compagnie QuickDep inc.</a>
				<p>2955 avenue Maricourt, Québec, QC G1W 4T8</p>
			</div>
		</div>

	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
