{% apply inline_css %}
<style>
	main {
		padding: 50px 0;
		background: #eee;
		min-height: 100vh;
		color: #000;
	}

	p {
		margin: 0 !important;
	}

	main > .container {
		width: 700px;
		max-width: 90%;
		border-radius: 5px;
		padding: 0;
		margin: 0 auto;
		text-align: center;
	}

	main > .container .top {
		padding: 50px;
		background-color: #29216B;
		color: white;
		background-size: cover;
	}

	.mail-body {
		padding: 30px 40px;
		text-align: left;
		background-color: #f7f7f7;
		margin-bottom: 18px;
	}

	.bottom {
		padding: 30px 40px;
		background-color: #f7f7f7;
	}

	.links {
		text-align: center;
		padding-top: 30px;
		font-size: 13px
	}

	.links a {
		text-decoration: none;
		color: #29216B;
		font-weight: 900
	}
</style>
<body>
	<main>
		<div class="container">
			<div class="mail-body">
				<h3 style="font-weight:700; margin:0;">Réinitialisation mot de passe</h3>
				<hr>
				<h3>Salut
					<b>{{ username }}</b>,</h3>
				<p>Vous avez demandé la réinitialisation de votre mot de passe. veuillez saisir le code ci-dessous dans l'interface de récupération de mot de passe ouverte actuellement dans votre téléphone si vous êtes à l'origine de cette action.</p>
				<br>
				<h1 style="font-weight:900; margin-bottom:25px">
					{{ code }}</h1>
				<hr>
				<p>Si vous n'avez pas demandé de recupérer le mot de passe, veuillez ignorer ce couriel et ne pas partager ce code avec une autre personne.</p>
			</div>
			<div class="bottom">
				<p>Ceci est un message automatique envoyé par notre serveur.
					<b>Ne repondez pas à ce message!</b>
				</p>
			</div>
			<div class="links">
				Envoyé par
				<a href="http://quickdep.ca" target="_blank">Compagnie QuickDep inc.</a>
				<p>2955 avenue Maricourt, Québec, QC G1W 4T8</p>
			</div>
		</div>

	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>

{% endapply %}
